[2016-09-18 16:01] karldahlgren opened #1 "Add support for value generator"
A response should be able to contain one or more generated values. For example, a response can contain the following text: {RANDOM_INT}. This will generate a new random integer.

[2016-09-28 21:20] karldahlgren opened #2 "New mock plugin: WebSocket"
Add support to mock WebSocket interfaces

[2016-09-28 21:22] karldahlgren opened #3 "New mock plugin: JMS"
Add support to mock JMS

[2016-10-06 16:33] karldahlgren opened #4 "Unable to remove REST and SOAP resource"
The user is currently unable to remove both SOAP and REST resource when marking multiple resources that the user want to remove.

[2016-10-06 16:58] karldahlgren opened #5 "Add clear logs functionality"
An administrator should have the ability to remove and clear all the logs presented in the log page. A button should be present in the right corners for administrators. Clicking on the button will clear all the logs from the server.

[2016-10-06 17:01] karldahlgren commented on #4
Issue has been resolved

[2016-10-06 17:01] #4 closed

[2016-10-06 17:04] karldahlgren opened #6 "Remove logs related to a service when it is removed"
The logs for a service should be removed if the service is removed. However, it should be optional if the logs should be removed or not. The user should have an option if they want to remove the logs or not.

[2016-10-06 17:07] karldahlgren commented on #1
The user should be able to disable these expressions for each mocked response.

[2016-10-06 17:34] karldahlgren commented on #1
This feature has now been implemented. The basic features are now supported:
Random integer: {RANDOM_INTEGER}
Random double: {RANDOM_DOUBLE}
Random float: {RANDOM_FLOAT}
Random long: {RANDOM_LONG}

Just add these expressions in your response and they will be replaced with generated values. More expressions are expected in the future, such as random first or last name.

[2016-10-06 17:34] #1 closed

[2016-10-13 17:54] XaeroDegreaz opened #7 "Unable to delete application"
Using latest Docker release.

Steps to reproduce:
1. Create Project
2. Add WADL
3. Delete the generated application

In case it helps, the WADL file I'm using can be obtained from: https://github.com/bumpmann/wadl-library/blob/master/twilio/twilio-wadl.xml

Stacktrace:
[code]

I can delete the application by deleting the entire project, though. It's not really a big deal for me since there is only

[2016-10-13 17:56] XaeroDegreaz opened #8 "Support for dynamically generated responses"
It would be cool to have some support for dynamically generating response templates :)

[2016-10-13 19:43] karldahlgren commented on #7
HI XaeroDegreaz.
Thank you so much for your feedback. I very much appreciate it. This issue was resolved in a previous ticket. The bug fix is part of release 1.6.
I rescheduled the release of 1.6 to today. I have already uploaded it to the webpage (http://castlemock.com). Please give it a try and see what you think. :)

[2016-10-13 19:52] karldahlgren commented on #8
I really like this idea. How would you like this feature to work? Should there be some pre-defined templates? If so, how would they look?

One thing you could do is to not generating any responses and configure all the services to forward and record once. Then you can send all your requests towards Castle Mock, which will act as an proxy and record all the responses. That is a quite fast and easy

[2016-10-16 07:59] XaeroDegreaz commented on #8
Perhaps creating some sort of templating language using Mustache as the engine. Some basic in-line conditional logic, and objects that reads the request being sent to the mock (headers, query parameters, etc) and then  does some changes to the response. Something like this:

[code]

Where the `---` separates some processing logic from the response object sent.

You could use some sort of ECMAScrip

[2016-10-16 09:38] XaeroDegreaz commented on #8
I've written something to get you started on the parsing side:

https://gist.github.com/XaeroDegreaz/471413d9b777e44b945a1e581d45dffa

Should give you an idea of where I was heading with this. I was actually going to use something like this in a mock engine I've been working on.

[2016-10-16 12:22] #7 closed

[2016-10-30 22:11] karldahlgren opened #9 "Create a system page"
A new administrator page named "System" should be created. The page should display information about the current system that Castle Mock is being hosted on.

[2016-11-01 20:17] karldahlgren commented on #9
This feature has been implemented.

[2016-11-01 20:17] #9 closed

[2016-11-01 20:19] #5 closed

[2016-11-01 20:21] karldahlgren opened #10 "Create a navigation bar"
Add a navigation bar to make it easier to navigate through REST and SOAP projects and their resources.

[2017-01-16 21:51] karldahlgren opened #11 "Global configuration for server invoke URL"
Allow the user to configure a global invoke URL. The URL will be used instead of the local IP address when displaying the address to either the SOAP or REST service. This scenario is helpful if you have deployed the server on a public domain, or have a proxy in front the server. In those cases you don't want to display your local IP, but another address.

[2017-01-21 16:16] karldahlgren opened #12 "[REST] Invalid URL comparison when using brackets"
The URL comparison on the REST mock interface is invalid when using brackets.
The following URL does not work:
URL pattern: /user/{id}.json
Actual URL: /user/1.json

[2017-01-21 17:34] karldahlgren commented on #12
This issue has been resolved and will be part of the 1.8 release.

[2017-01-21 17:34] #12 closed

[2017-01-21 17:34] karldahlgren commented on #11
This issue has been resolved and will be part of the 1.8 release.

[2017-01-21 17:34] #11 closed

[2017-01-21 18:36] karldahlgren opened #13 "Export projects on the overview page does not work in Chrome"
Chrome does not recognize that a file is about to be downloaded when exporting projects on the overview page. Instead, a new window is opened and shows the content of the file (Unreadable). The user should get a download window and a proper zip file should be downloaded.

[2017-01-23 22:49] karldahlgren opened #14 "Add network simulation delay"
Castle Mock projects should be able to be configured to simulated network delay.

[2017-01-23 22:51] karldahlgren opened #15 "RAML support"
Castle Mock should allow the user to import RAML files, which can be used to create and define a REST interface.

[2017-01-23 22:52] karldahlgren opened #16 "Swagger support"
Castle Mock should allow the user to import Swagger files which can be used to create and define a REST interface.

[2017-01-23 22:54] karldahlgren opened #17 "Update font"
The current font being used, Roboto, looks weird on Windows machines. Should be updated to it looks a little bit nicer.

[2017-01-24 21:57] karldahlgren opened #18 "Add the ability to sort tables"
A user should be able to sort a table by clicking on the column header.

[2017-01-28 22:24] karldahlgren commented on #17
Issue has been resolved.

[2017-01-28 22:24] #17 closed

[2017-01-29 19:26] karldahlgren commented on #18
This has been implemented and will be part of the next release.

[2017-01-29 19:26] #18 closed

[2017-01-29 21:12] karldahlgren commented on #14
Added support for simulated network delay. It can be configured for each SOAP operation or each REST method.

[2017-01-29 21:12] #14 closed

[2017-01-29 23:44] karldahlgren opened #19 "REST request logs should contain the URL"
The URL is missing when viewing the logs for a REST entry.

[2017-01-31 19:07] karldahlgren opened #20 "Dates are incorrect sorted in tables"
Dates in tables are incorrectly sorted when clicking on the column name.

[2017-01-31 19:08] karldahlgren commented on #19
Just discovered that the URI is actually presented in the log page. Closing this issue.

[2017-01-31 19:08] #19 closed

[2017-02-04 18:10] karldahlgren commented on #15
RAML has been implemented and will be part of the 1.10 release.

[2017-02-04 18:10] #15 closed

[2017-02-04 18:10] karldahlgren commented on #16
Swagger has been implemented and will be part of 1.10 release

[2017-02-04 18:10] #16 closed

[2017-02-11 19:30] karldahlgren commented on #10
This issue has been implemented and will be part of the next release.

[2017-02-11 19:30] #10 closed

[2017-03-04 13:01] karldahlgren opened #21 "Update user button does not work"
The update user button on the user page does not work.

[2017-03-04 13:01] #21 closed

[2017-03-04 13:30] karldahlgren opened #22 "Mocked Swagger methods are missing name on missing operation id"
Castle Mock is using the operation id defined within the Swagger definition to mock its REST methods. However, sometime this operation id can be missing. In those cases, the summery should be used as a name. If the summer is missing, then the method should be named after the HTTP method (GET, POST, PUT and so on).

[2017-03-04 13:30] karldahlgren commented on #22
Here is an example on when this can occur: https://raw.githubusercontent.com/OAI/OpenAPI-Specification/master/examples/v2.0/json/uber.json

[2017-03-04 16:18] #22 closed

[2017-03-04 16:18] karldahlgren commented on #22
This issue has been resolved. The method name for imported Swagger files can now be based on the operation id, summery or the actual HTTP method.

[2017-03-09 20:37] karldahlgren opened #23 "Add support to record REST services"
The user should be able to create an REST application and configure it to recording. The recording mode should create a new REST service for each incoming REST request that doesn't already match a REST service.

[2017-03-31 13:33] DeRain opened #24 "Is castlemock generates responses from swagger based on $ref definitions?"
Hi, first - thank you for server - it seems very amazing and I'm looking forward use it in our new project.

Here is example of issue:
[code]

[2017-03-31 17:17] karldahlgren commented on #24
Hi Kirill.
Unfortunately, Castle Mock currently does not base the generated responses on $ref definition. It simply generates responses based on the defined responses in the Swagger definition. It is quite simplistic and just copies the HTTP status code and uses the description as name.

I can mark this as an improvement and implement support for this, if this is something you would like to have s

[2017-03-31 17:24] DeRain commented on #24
Hi, @karldahlgren. It would be great to implement support of mock responses based on the schema and $ref definition (first it can be based on examples provided in each model). Unfortunately, i almost don't know java and only can help you to test this feature. Thanks!

[2017-03-31 19:49] karldahlgren commented on #24
Hi @DeRain.
I will look into this feature first thing tomorrow. Do you have an example Swagger file with a $ref definition that I could perhaps use?

It is I that should say thank you. Your feedback to very much appreciated. Thank you.

Cheers!

[2017-04-01 10:16] DeRain commented on #24
Hi, @karldahlgren.
Unfortunately, i can't provide swagger file from my current project, but i see a petstore example is pretty similar and it's using $ref definitions.
http://petstore.swagger.io/
http://petstore.swagger.io/v2/swagger.json

[2017-04-01 12:05] karldahlgren commented on #24
Thanks @DeRain.
I should have this feature ready by the end of the day. I can prepare a snapshot build for you if you want to try. :)

[2017-04-01 18:18] karldahlgren commented on #24
Hi @DeRain.
I have implemented the feature and released a new version (1.13) of Castle Mock. It is available on the webpage: https://castlemock.com.

As mentioned earlier, all feedback is appreciated.
Feel free to comment or come with feedback.
Thanks.

[2017-04-01 18:19] #24 closed

[2017-04-02 18:01] karldahlgren commented on #24
I will do one more change to improve on how enum values are generated. Will try to have that fixed as soon as possible.

[2017-04-13 17:21] DeRain commented on #24
Hey @karldahlgren. Thank you for work! Sorry for late answer - we have very tight deadlines, so i couldn't find a minute to test the new version. For now - castlemock provides an error when i'm trying to load our swagger.json. I will prepare an example for you asap. Thanks!

http://take.ms/boVl2

[2017-04-13 17:29] karldahlgren commented on #24
Hi @DeRain.
Sorry to hear that you are getting an error. If you know what could be the root cause of the problem, then I can resolve it for you. An example would be very much appreciated.

Thank you very much!

[2017-04-30 20:10] karldahlgren opened #25 "Add grammar support for expressions"

[2017-05-03 20:37] karldahlgren commented on #25
This feature has been implemented and will be part 1.14.

[2017-05-03 20:37] #25 closed

[2017-05-07 16:26] karldahlgren opened #26 "New method status: Echo"
The mocked services can be configured to simply echo the incoming request. The response will echo both the incoming body and the content-type.

[2017-05-07 17:06] #26 closed

[2017-05-26 02:37] emanuelrm opened #27 "Mock Soap service not working"
Hello,

When trying to import into soapui the soap service
Http://demo.castlemock.com:80/mock/soap/project/1vIOrW/airportSoap12
or
Http://demo.castlemock.com:80/mock/soap/project/1vIOrW/airportSoap12
?wsdl

The following error occurs: org.apache.xmlbeans.XmlException: error: does not close tag

[2017-05-26 04:34] karldahlgren commented on #27
Hi @emanuelrm.
Castle Mock does not generate WSDL files. It only consumes them and create mocked services based on them. The original WSDL from the test server can be found in the following location: http://www.webservicex.net/airport.asmx?WSDL

I hope it helps.
Best regards,
Karl Dahlgren

[2017-05-26 04:42] #27 closed

[2017-05-26 12:03] emanuelrm commented on #27
Hello @karldahlgren,

thanks for the answer,  I understood how it works now.

Congratulations for your work

[2017-06-17 13:45] karldahlgren opened #28 "Add Castle Mock home directory on system page"
The system page should display the home directory for Castle Mock in order to make it easier for users to locate their data.

[2017-06-17 13:54] #28 closed

[2017-09-24 20:26] karldahlgren opened #29 "Retrieve WSDL file"
Add support to retrieve an uploaded WSDL file for a mocked project.
The WSDL file should be retrieved by adding ?wsdl to the invoke adress.

[2017-09-27 09:13] AchimW opened #30 "typo in "Upload WADL""
# Environment
version: 1.15
deployment: docker

# Error
`GET http://[HOST]:8080/castlemock/resources/js/fileUpload.js 404`
# Cause
The js file cannot be retrieved because the link to this file has a typo.
# Fix
The link should be "resource/js/FileUpload.js".

[2017-09-27 20:00] karldahlgren commented on #30
Hi @AchimW.
Thank you very much for reporting this issue. The issue has been resolved and will be part of 1.16 release.

[2017-09-27 20:00] #30 closed

[2017-10-01 16:52] karldahlgren opened #31 "Unable to map SOAP 1.2 requests"
Unable to map incoming SOAP 1.2 request to SOAP 1.2 operations.

[2017-10-01 17:07] karldahlgren commented on #31
This issue has been resolved and is part of 1.16 release.

[2017-10-01 17:07] #31 closed

[2017-10-01 17:07] karldahlgren commented on #29
This feature has been implemented and part of 1.16

[2017-10-01 17:07] #29 closed

[2017-10-08 19:07] karldahlgren opened #32 "Add option to generate JSON responses for mocked REST services"
Add option to generate JSON responses for mocked REST services

[2017-12-01 20:51] ivanzito opened #33 "Castlemock responsing main page in a SOAP PORT"
Hi, I'm using Castlemock through the docker image. I configured a SOAP project, so I imported the WSDL and now when I call the Castlemock through my client the response from Castlemock is 200 with content of main page. I did a lot of calls using a HTTP tool and works ok. I saw that not work with this Content-Type::

and works with this

Bellow my request and response

Accept: application/soap+xml,

[2017-12-01 21:30] karldahlgren commented on #33
Hi @ivanzito!
Great to hear that you are using Castle Mock.
In order to use soap+xml, the port defined in the WSDL needs to be use a SOAP 1.2 binding. Which SOAP version does it say on one of the operations? SOAP 1.1 or SOAP 1.2? SOAP 1.1 uses application/soap, while SOAP 1.2 is using application/soap+xml.

There is an example of this setup on our demo server: http://demo.castlemock.com/web/soap/p

[2017-12-01 22:16] ivanzito commented on #33
Great, using another port with SOAP 1.2 I conquest consume the WS by a HTTP tool, thanks by the explanation above. But, when I call the WS through my app the same problem occurs. The CastleMock response

null: HTTP/1.1 200
Content-Language: en
Content-Length: 4248
Content-Type: text/html;charset=UTF-8
Date: Fri, 01 Dec 2017 22:07:22 GMT
Set-Cookie: JSESSIONID=89B63A4A6CEEBF5584447AA04CB0D891; Path

[2017-12-01 22:22] karldahlgren commented on #33
Does your port for SOAP 1.2 have any operations? Has these operations been mocked? Keep in mind that the operations for SOAP 1.1 and SOAP 1.2 are not the same. They are treated as completely different operations.

Would it also be possible to see your request as well?

So to summeries it:
- http://localhost:9000/castlemock/mock/soap/project/dbbaVA/WSReservawebSoap: application/soap
- http://localh

[2017-12-01 22:39] ivanzito commented on #33
Yeap, in reality I removed the SOAP 1.1(project). I mocked this operation too.
Below my request:

`
---[HTTP request - http://localhost:9000/castlemock/mock/soap/project/dbbaVA/WSReservawebSoap]---
Accept: application/soap+xml, multipart/related
Content-Type: application/soap+xml; charset=utf-8;action="http://com.br/EfetuarLogin"
User-Agent: JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e94

[2017-12-01 22:43] karldahlgren commented on #33
The URL seems to go to http://localhost:9000/castlemock/mock/soap/project/dbbaVA/WSReservawebSoap, which was the address to the SOAP 1.1 port. Is that correct? I would expect the URL to be http://localhost:9000/castlemock/mock/soap/project/dbbaVA/WSReservawebSoap12.

SOAP 1.1 is expecting application/soap, while SOAP 1.2 is expecting application/soap+xml. It won't find a match unless the URL and c

[2017-12-02 21:49] karldahlgren commented on #33
Hi @ivanzito.
Did you manage to resolve your problem? If so, could I close this issue?

[2017-12-04 00:16] ivanzito commented on #33
No BTW I pasted the wrong path. When I call the WS using _WSReservawebSoap12_ I receive the same response from the server and I removed the last version 1.1, so the unique project in CastleMock that I've is WSReservawebSoap12

[2017-12-04 20:34] karldahlgren opened #34 "Add to support to update multiple services"

[2017-12-04 20:36] karldahlgren opened #35 "Sequence index not being updated for mocked SOAP operations"
The sequence index is not being updated correctly when a SOAP operation response has been returned.

[2017-12-04 20:59] karldahlgren commented on #35
This issue has been resolved. Closing issue.

[2017-12-04 20:59] #35 closed

[2017-12-04 21:22] karldahlgren commented on #33
Could it be that your application is switching between SOAP 1.1 and SOAP 1.2? What happens if you are using both at the same time? Do you still experience the same problems?

[2018-01-31 16:08] Urahara opened #36 "Does Castle Mock support MTOM request?"
I'm trying to sending a mtom request to WSDL that i have but i keeping getting this error below:

[code]
On log i not see any error.

[2018-01-31 20:01] karldahlgren commented on #36
Hi @Urahara.
Unfortunately, Castle Mock does not support MTOM request at the moment. I might be able to look into it and add support for it during the weekend.

Would it be possible for you to send me a WSDL example?

Best regards,
Karl Dahlgren

[2018-02-01 16:16] Urahara commented on #36
Thanks, this will be great!

Here a WSDL example:
https://gist.github.com/Urahara/32cb4a29828459f897a33bad77071026

[2018-02-03 16:59] karldahlgren commented on #36
Hi @Urahara.
Thank you very much for the WSDL example.
I have added support for MTOM requests for SOAP. Would you mind verifying that the issue has been resolved for you?
The latest snapshot build can be downloaded from https://castlemock.com/download/war/latest/castlemock.war

Thanks!
Best regards,
Karl Dahlgren

[2018-02-05 11:02] Urahara commented on #36
woot, thanks! It's working fine.

[2018-02-05 20:50] karldahlgren commented on #36
Great to hear!
Thank you so much for the feedback. Feel free to contact me again if you have any other issues or suggestions on improvements. Feedback is always appreciated.

Best regards,
Karl Dahlgren

[2018-02-05 20:50] #36 closed

[2018-02-05 21:06] karldahlgren commented on #33
Hi @ivanzito.
Did you manage to resolve your issue? Can I close this issue?

Best regards,
Karl Dahlgren

[2018-02-05 22:56] ivanzito commented on #33
@karldahlgren sorry for delay in my respone. You can close the issue. Unfortunelly I can't spend much time testing now.

Tks so much for the support

Cheers

[2018-02-06 15:18] koptan opened #37 "SOAP Fault Response Recording"
Hi ,

When any SOAP WS is returning soap:Fault  the castle mock is not able to forward to record the response .

Sometime SOAP WS will return all soap:Fault with Body that need to be recorded .

Can we fix it or there is any configuration can be change to make this awesome tools to record even when there is a soap fault  ?

[2018-02-06 17:13] karldahlgren commented on #33
Thank you for your response!
Feel free to contact me anytime if you have any further questions or issues.

Best regards,
Karl Dahlgren

[2018-02-06 17:13] #33 closed

[2018-02-06 18:39] karldahlgren commented on #37
Hi @koptan.
First of all I would like to thank you for using Castle Mock. Always appreciated getting feedback.
Unfortunately, I can confirm that this is a bug. Fortunately, it was a very easy bug to resolve.
Would it be possible for you to verify that the fix resolves your issue?
The latest build can be downloaded from the following URL: https://castlemock.com/download/war/latest/castlemock.war

T

[2018-02-06 23:10] karldahlgren opened #38 "Add support to both encode and decode HTTP content encodings"
This particular feature is mostly interesting when forwarding and recording responses. The forwarding endpoint can use a content encoding. Castle Mock should be able to interpret it, but also produce responses with a particular encoding.

[2018-02-07 06:54] karldahlgren commented on #37
Hi @koptan.
Absolutely. I will look into this issue later today. Should be a rather easy fix.

Thanks!
Best regards,
Karl Dahlgren

[2018-02-07 15:58] mhewedy opened #39 "Add new SoapResponseStrategy to help in predetermined test cases"
Thanks for your work, really amazing.

I need to write some Integration test cases depending on castlemock, so that my application will call castelmock to return different each time for the same specific web service operation.

The point is, I cannot depend on both the existing  `SoapResponseStrategy` strategies (`RANDOM` and `SEQUENCE`), I cannot depend on `RANDOM` because my test cases need to k

[2018-02-07 17:14] mhewedy commented on #39
Here's a quick and dirty illustration of what I mean
[castlemock_mock_xpath.patch.zip](https://github.com/castlemock/castlemock/files/1704054/castlemock_mock_xpath.patch.zip) If you like the idea, I can put more effort in the code and implement the Web part as well and submit a PR

[2018-02-07 18:31] karldahlgren commented on #39
Hi @mhewedy!
Thank you using Castle Mock, and more importantly, thank you your amazing suggestions. XPATH has long been on my list to do. I really like your approach. Looks very straightforward. If you want, we can do this in two ways:
- You make the changes and submit a PR. The only thing I would ask of you would be to sign and submit a contribution agreement (https://www.apache.org/licenses/icla

[2018-02-07 19:16] mhewedy commented on #39
Give me a day or two so I could try with the first option. otherwise, we can go for option 2. I'll be glad to contribute to this great software.

[2018-02-07 19:19] karldahlgren commented on #39
Sounds great! Looking forward to see the result.
Poke me if you need any support or anything.

Best regards,
Karl Dahlgren

[2018-02-07 20:20] koptan commented on #39
I like the idea of linking response with request in XPath way it's really helpful feature  , great work guys .

[2018-02-07 22:09] karldahlgren commented on #37
Hi @koptan.
It seemed that it completely ignored the character encoding specified in the Content-Type for the SOAP interface. I have done some modifications and the issue should be resolved now. Would you mind giving it a try?
The latest build can be downloaded from the following URL: https://castlemock.com/download/war/latest/castlemock.war

Thanks!
Best regards,
Karl Dahlgren

[2018-02-10 12:03] karldahlgren opened #41 "Add support for XPATH for REST XML requests"

[2018-02-10 12:19] #41 closed

[2018-02-10 15:20] karldahlgren commented on #39
This new XPATH feature has been implemented and merged into the develop branch.

[2018-02-10 15:20] #39 closed

[2018-02-10 15:21] karldahlgren commented on #39
Thank you @mhewedy for you contribution!
Great work!

Best regards,
Karl Dahlgren

[2018-02-10 15:25] karldahlgren commented on #13
This issue is now resolved.

[2018-02-10 15:25] #13 closed

[2018-02-11 16:03] karldahlgren commented on #37
Hi @koptan.
Can I close this issue? I just did a new release of Castle Mock (v1.18). It is available on the webpage and as a Docker image.

Btw, keep in mind that you might have to specify the charset in the Content-Type for your response to get the specific encoding (UTF-8). Example: Content-Type: text/html; charset=utf-8

Best regards,
Karl Dahlgren

[2018-02-12 20:05] karldahlgren opened #42 "Add support for GraphQL"

[2018-02-14 17:27] mhewedy opened #43 "Allow duplication of the soap web service response"

[2018-02-14 18:11] karldahlgren commented on #43
Great commit @mhewedy.
I have accepted the pull request and merged into the develop branch.
Once again, thank you very much for your contribution!

Best regards,
Karl Dahlgren

[2018-02-14 18:11] #43 closed

[2018-02-14 18:13] mhewedy commented on #43
@karldahlgren I am very grateful for your fast response. Thanks 👍

[2018-02-15 06:21] mhewedy opened #45 "On demand downloadable artifacts"
What I am seeking is to be able to download the war file after successful travis-ci build.

For Example, I need to download the war file as the result of this successful build: https://travis-ci.org/castlemock/castlemock/builds/341556514

Or even to request a build on a specific git(hub) commit and then download the artifacts and use it. (so I don't need to wait for the official release to use the

[2018-02-15 06:55] karldahlgren commented on #45
Hi @mhewedy.
Absolutely. I will see if I can upgrade the Travis script to publish the war file after a successful build. Will take a look at it later today.

Best regards,
Karl Dahlgren

[2018-02-15 20:58] diegocastillomck opened #46 "how can I import WSDL with xsd imports?"
Hi,

Thank you for such a great tool. I'm just facing an issue related to a special WSDL with <xsd:import> and <xsd:include> that aren't imported and the mocks servers don't work.

Is there a way to import the imports and includes somehow?

Thanks,

[2018-02-15 21:05] karldahlgren commented on #46
HI @diegocastillomck.
Thank you very much for the kind words and for using Castle Mock!
Castle Mock ignores imports and includes since they are often quite problematic to deal with (Relative paths, problems with accessibility and so on). Nevertheless, I would very much like to investigate this particular problem. Would it be possible for you to provide an example WSDL on how your setup looks like?

[2018-02-15 21:14] karldahlgren commented on #45
Hi @mhewedy.
I have investigated this and made some changes to the Travis script. Still testing it though. I believe that the best approach here is to configure Travis to deploy the war file to Github and mark it with a particular tag (like "Nightly build" or something similar).

I will continue implementing and testing this throughout the weekend. I hope this works for you. In the meantime I can

[2018-02-16 06:27] mhewedy commented on #45
Thanks too much for your great effort. much appreciated.

[2018-02-16 06:53] mhewedy commented on #45
I did the following:

1. pull latest from `castlemock/develop` and push it into my GitHub repo at `mhewedy/develop`
2. In https://travis-ci.org/mhewedy/castlemock I've created an env var `GITHUB_OAUTH_TOKEN`
3. I triggered a build at https://travis-ci.org/mhewedy/castlemock and I got a **draft** release created at `mhewedy/castlemock` [releases](https://github.com/mhewedy/castlemock/releases).
4.

[2018-02-16 07:03] castlemock commented on #45
Cool!
I wanted to do some work to remove the manual step at the end. I would like it to be a release and not remain as a draft. I will continue look into it throughout the weekend.

Cheers!

Best regards,
Karl Dahlgren

[2018-02-17 08:33] mhewedy commented on #46
@diegocastillomck I've worked with some WSDLs that have the same issue, but they provided a single wsdl as well, this is what I mean: https://stackoverflow.com/questions/25277536/what-is-the-difference-between-wsdl-and-singlewsdl-parameters

[2018-03-05 22:50] oscarAtNava opened #47 "Is it possible to match a request and a response by a key?"
I have an operation, findBySSN, and I pass the SSN in the request. How can I match the request value passed to a specific response defined in castlemock?

Thank you

[2018-03-05 23:03] karldahlgren commented on #47
Hi @oscarAtNava.
Are you using SOAP? If so, I believe that you can achieve the requested behavior by using the XPath response strategy. Have you checked the following documentation entry: https://github.com/castlemock/castlemock/wiki/XPath

Please feel free to post an example of the request and response if the documentation does not help you.

Thank you very much.
Best regards,
Karl Dahlgren

[2018-03-06 16:13] oscarAtNava commented on #47
Thank you Karl. I got it working.

[2018-03-06 19:47] karldahlgren commented on #47
Great to hear that it is working.
Don't hesitate to create another issue if you experience any other difficulties or need any support.
Thanks!

Best regards,
Karl Dahlgren

[2018-03-06 19:47] #47 closed

[2018-03-06 22:04] karldahlgren commented on #46
Hi @diegocastillomck.
Did you manage to resolve your issue? Can I close this?

Thank you.
Best regards,
Karl Dahlgren

[2018-03-11 16:36] karldahlgren opened #48 "Unable to upload files to the server on certain browsers"
The method MultipartFile#getOriginalFilename is used to name an uploaded file on the server. The problem is that the method is acting differently depending on which browser is being used. This is what the method documentation says: "This may contain path information depending on the browser used, but it typically will not with any other than Opera.".

Instead of using the original name, Castle Moc

[2018-03-11 16:39] karldahlgren commented on #48
This issue has been resolved and will be part of the 1.19 release.

[2018-03-11 16:39] #48 closed

[2018-03-16 18:55] oscarAtNava opened #49 "REST API To Import Project to castlemock"
We want to create a script to install the docker version of castlemock, and then import a pre-defined project to the container instance. More broadly, are there REST endpoints to perform some of the functions that are done via the provided UI?

Thank you

[2018-03-16 20:13] karldahlgren commented on #49
Hi @oscarAtNava.
Ironically, there isn’t a REST interface for Castle Mock. However, the whole infrastructure in Castle Mock is built in such a way that it would be easy to add a REST interface in the future. Up until this moment, it has been down prioritised. I was waiting for someone to request it. With that being said, it should be very easy to add these functionalities as a REST interface. If y

[2018-03-16 21:33] oscarAtNava commented on #49
Hi Karl,

Thank you for the quick response. The most urgent need for us would be the
Import Project function in the UI. We plan to set up a SOAP project and
export it using the UI export function. Then, we are writing a rake task to
programmatically set up the docker container, start it, and import the
pre-defined project.

In the future I can see developers wanting to add to the imported project,

[2018-03-25 16:25] karldahlgren commented on #46
Closing this issue. Please feel free to contact me again if you need help in the future.

[2018-03-25 16:25] #46 closed

[2018-03-25 16:28] #45 closed

[2018-03-25 16:41] karldahlgren commented on #49
Hi @oscarAtNava.
Sorry for the late response. I just finished releasing the latest version of Castle Mock (1.19). The release contain a new REST interface for importing projects and SOAP resources. It currently only has those two services, but I will add more in the upcoming releases. I just wanted to get this version released as soon as possible so that you weren't blocked.

The REST API can be v

[2018-03-25 20:56] #49 closed

[2018-03-26 15:16] oscarAtNava commented on #49
Thank you Karl, I will take the new version for a spin and let you know.

[2018-04-06 15:01] asomov opened #50 "WSDLs with XSD does not work"
When I try to upload a few files (WSDL, WSDL to be imported via wsdl:import, XSD) then I see files uploaded into /soap/resources/wsdl with extension *.rsc but all the files have the same content.

It looks like  the last file is copied many times.

[2018-04-06 17:08] karldahlgren commented on #50
Hi @asomov.
Castle Mock only supports when a WSDL definition is contained within one file, and not multiple. I guess that is the issue you are referring to.

Would it be possible for you to provide an example WSDL file that is triggering this error? That would be very helpful and appreciated.

Thank you very much!

Best regards,
Karl Dahlgren

[2018-04-06 18:12] asomov commented on #50
Hi Karl,
we have decided to merge files into one (it is better anyway).
It is not a problem for us anymore.
May be it is simpler to allow to choose only one file when uploading WSDL ?

I cannot provide the real file, but it contains the following definition:
<wsdl:import namespace="http://URL" location="part.wsdl"/>

[2018-04-06 20:26] karldahlgren commented on #50
Hi @asomov.
Good to hear. Thank you for the WSDL snippet.
It is much simpler to allow one WSDL rather than multiple linked all together.

Is everything up and running for you now? Can I close this issue?

Thanks!
Best regards,
Karl Dahlgren

[2018-04-06 20:59] asomov commented on #50
I will create another issue to allow a single upload to avoid misunderstanding

[2018-04-06 20:59] #50 closed

[2018-04-06 21:01] asomov opened #51 "Improvement: allow to upload only one WSDL file"
To avoid misunderstanding it should be allowed to upload only file file.

Now it is possible to select and upload many WSDL files at once.

[2018-04-29 07:52] mhewedy opened #52 "Convert the mocking strategy to mock when the target WS is down"
usually, we mock some services in "Recording" mock, and at random times we go the target service down, is it possible to make activate the "Mock" strategy when the target service is down?

Here's an overview of what we needs [issue_#52.zip](https://github.com/castlemock/castlemock/files/1958542/issue_.52.zip)

However my purposed solution is not smart enough, it whould be very easy and intutuive t

[2018-04-29 08:14] karldahlgren commented on #52
Hi @mhewedy.
I love it. Really good suggestion. An alternative way would be to have a checkbox in the operation page that say "Mock on failure". Then you can combine it however you want. What do you think about that?

Best regards,
Karl Dahlgren

[2018-04-29 08:31] mhewedy commented on #52
Yes, that's better.

[2018-04-29 10:07] karldahlgren commented on #52
Excellent! I will add it to the next release.
Once again, thank you for excellent feedback.

Best regards,
Karl Dahlgren

[2018-05-14 04:39] mhewedy commented on #52
@karldahlgren 
Never mind it is okay.
Thanks for your time and effort you are really doing a great staff.

[2018-05-15 09:08] macarlet opened #53 "error retrieved after call to mock endpoint"
hello,
I try to use castlemock to mock a SOAP service, I use the wizard to import wsdl from file and generates mock responses.
After that I try to invoke the endpoint that it exposes as "Address" but the response I retrieve is always

<error-response>
   <error-message>Unable to identify SOAP operation: LavorazioneSOAP</error-message>
</error-response>

where LavorazioneSOAP is the port

any sugge

[2018-05-15 09:14] macarlet commented on #53
I think it is related to [issue 50](https://github.com/castlemock/castlemock/issues/50), because I have external xsd

[2018-05-15 13:27] #53 closed

[2018-05-15 14:35] macarlet opened #54 "get path parameter in mock response"
hi,
how can I retrieve a path param in the response?
ex:
method: GET
path:  
 /res1/{myParam}
response :
{
  "myParam" : **${myParam}**
}

is there something similar already implemented?

thanks in advance

[2018-05-15 16:59] karldahlgren commented on #54
Hi @macarlet.
It is currently not supported. With that being said, I can look into how much effort it is take implement it. I like the idea and I think that it should be that hard to hard support for it.

Best regards,
Karl Dahlgren

[2018-05-16 19:54] karldahlgren commented on #54
Hi @macarlet.
Saw that I wrote the wrong thing the other day. What I meant to say was that it shouldn't be that hard to implement. I'm planning on including this to the next release (Which is planned to be released at the end of this week). Does that work for you?

Best regards,
Karl Dahlgren

[2018-05-17 05:46] macarlet commented on #54
Great! It should be very useful in order to create dynamic mock response.
Thank you very much

[2018-05-17 17:56] karldahlgren commented on #54
This feature has now been implemented and will be part of the next release. The path parameter can be retrieved by using the PATH_PARAMETER expression: ${PATH_PARAMETER(parameter="MyParameter")}.

Example:
``
{
	"id": "${PATH_PARAMETER(parameter="id")}",
}
``

Keep in mind that you have to enable expressions on the mocked response.
Thank you once again for this great suggestion and feedback.

Plea

[2018-05-17 17:56] #54 closed

[2018-05-19 10:31] karldahlgren commented on #49
Hi @oscarAtNava.
I just wanted to inform you that the upcoming release 1.20 will contain some minor modifications to the REST url. Instead of using request parameters for the identifiers, we will instead be using path parameters.

You will find all the available REST services in the Swagger page in Castle Mock. I hope that this doesn't cause too much problems for you. The functionality is still th

[2018-05-19 13:27] karldahlgren commented on #52
The feature has been implemented and will be part of the next release. The release is scheduled to be released tomorrow. The "Mock on failure" option will affect the following statuses: Forward, record and record once.

Once again, thank you very much for the excellent suggestion and feedback.

Best regards,
Karl Dahlgren

[2018-05-19 13:27] #52 closed

[2018-05-21 15:18] oscarAtNava commented on #49
Thank you for the heads up Karl. We will take a look.

On Sat, May 19, 2018 at 6:31 AM Karl Dahlgren <notifications@github.com>
wrote:

--

Oscar A. Ramirez

Software Engineer

(646) 504-6536

Nava <http://navapbc.com/>

<http://navapbc.com/>

[2018-06-03 13:16] karldahlgren opened #56 "Upgrade the user interface"

[2018-06-03 14:38] mhewedy commented on #56
What kind of upgrade? do you intend to just change the styles? or change the spring mvc into some kind of SPA framework?

[2018-06-03 14:45] karldahlgren commented on #56
I wanted to update the style to make it a little bit more "stylish". I have no intention on changing any framework. Just some plain CSS styling.

I have attached a screenshot on how it looks right now for me. I wanted to do some updates on the table as well. It is currently just a prototype. Do you have any suggestions or input?

<img width="1268" alt="skarmklipp 2018-06-03 16 41 16" src="https://

[2018-06-03 22:05] mhewedy commented on #56
I like the new change. I just wanted to offer help in case you were changing to angular.

[2018-06-05 19:37] karldahlgren commented on #56
Thank you @mhewedy.
I will keep that in mind. You are the first person I will contact if there were plans on changing to Angular :)

Best regards,
Karl Dahlgren

[2018-06-25 17:13] #56 closed

[2018-07-09 14:42] DFranzen opened #57 "Imported Soap project returns only errors when Sequence Strategy is selected"
I imported my xml file as new soap project and it works fine as long as I select "Random" as Response strategy. However as soon as I change the strategy to Sequence I get only

<?xml version="1.0" encoding="UTF-8" standalone="yes"?><error-response/>

as mock response. Am I doing something wrong?

[2018-07-09 22:11] karldahlgren commented on #57
Hi @DFranzen.
Thank you for raising this bug. The problem was that the current sequence number wasn't exported which resulted in sequence number being null when importing the SOAP project. The problem occurred in version 1.21. The issue has now been resolved. I have created a new release (1.22). It can either be downloaded from the webpage (https://castlemock.com/) or from Docker.

I apologies for

[2018-07-09 22:11] #57 closed

[2018-07-10 08:09] DFranzen commented on #57
Thanks for the quick update. I downloaded the new docker image, but I still have some issues with the Sequence Strategy:
- If I import my xml-file now and CHANGE the strategy to Sequence I still get the same error message. Only once I export the changed project and reimport it, it starts working. Is there still a problem with changing to Sequence maybe?
- The order of the responses after the (orig

[2018-07-10 09:23] DFranzen opened #58 "MockResponses are not imported in the correct order"
When I import an xml file as a new soap project, the MockResponses are imported in a different order from the order in the file and the order of the ids. The order of the MockResponses is important for the response strategy "Sequence".

In my case I get

![image](https://user-images.githubusercontent.com/6863547/42501169-699bade2-8433-11e8-98bf-45aa83505a72.png)

The responses are ordered by their

[2018-07-10 19:36] karldahlgren commented on #58
Hi @DFranzen.
Thank you for raising this issue too. This issue has now been resolved. The mocked responses will now be sorted in an alphanum sorting order before they are selected. Don't mind the sorting in the tables on the SOAP operation page. The sorting internally will now be done correctly.

I have done a new release that contains this fix (v1.23). The release is available on the webpage and

[2018-07-10 19:36] #58 closed

[2018-07-11 07:57] DFranzen commented on #58
Thank you for the quick responses. That's great my first run completes now. I much appreciate the help

[2018-07-11 08:06] DFranzen opened #59 "No log entry for talking to unknown port (previously: Error responses when the operation identifier is prefixed)"
In my soap request I have an operation identifier which is prefixed by the namespace, eg.
<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdl="http://google.com/wsdl/">
    <soapenv:Header/>
    <soapenv:Body>
        <wsdl:AddRequest>
            ....
        </wsdl:AddRequest>
    </soapenv:Body>
</soapenv:Envelope>
The mock response is
<?xml version="1.0" enco

[2018-07-11 18:45] lrdevri opened #60 "CastleMock errors a SOAP request when envelope not having a namespace qualifier"
I am attempt to mock a SOAP service for a Golang application.  When it builds and sends the SOAP request, it does not use namespace qualifiers.  For example:
<Envelope xmlns="http://schemas.xmlsoap.org/soap/envelope/">
    <Body xmlns="http://schemas.xmlsoap.org/soap/envelope/">

I get an error response:
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><error-response/>

However when I send:

[2018-07-11 18:53] karldahlgren commented on #60
Hi @lrdevri!
Thank you for using Castle Mock! Of course we should make sure that you can use Castle Mock :).
Just to be sure that I understood you correctly: The SOAP requests does not have namespace qualifiers. Would it be possible for you to send an example request?

This should be a quite easy thing to fix. I could probably have this done by the end of the weekend. Does that work for you?

Than

[2018-07-11 18:54] karldahlgren commented on #59
Thank you @DFranzen for the feedback!
I will try to make it clearer what the problem in the future :)

Best regards,
Karl Dahlgren

[2018-07-12 01:34] lrdevri commented on #60
This request does not work

<Envelope xmlns="http://schemas.xmlsoap.org/soap/envelope/">
    <Body xmlns="http://schemas.xmlsoap.org/soap/envelope/">
        <SubmitHugeBatch xmlns="http://tempuri.org/">
            <sRequestXML><![CDATA[<REQUEST RequestId="431212"></REQUEST>]]></sRequestXML>
        </SubmitHugeBatch>
    </Body>
</Envelope>

This request works:
<soapenv:Envelope xmlns:soapenv="h

[2018-07-12 01:37] lrdevri commented on #60
This request does not work
`<Envelope xmlns="http://schemas.xmlsoap.org/soap/envelope/">
    <Body xmlns="http://schemas.xmlsoap.org/soap/envelope/">
        <SubmitHugeBatch xmlns="http://tempuri.org/">
            <sRequestXML><![CDATA[<REQUEST RequestId="431212"></REQUEST>]]></sRequestXML>
        </SubmitHugeBatch>
    </Body>
</Envelope>
`

[2018-07-12 01:38] lrdevri commented on #60
This request works:
`<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
    <soapenv:Body>
        <SubmitHugeBatch xmlns="http://tempuri.org/">
            <sRequestXML><![CDATA[<REQUEST RequestId="431212"></REQUEST>]]></sRequestXML>
        </SubmitHugeBatch>
    </soapenv:Body>
</soapenv:Envelope>
`

[2018-07-12 05:22] karldahlgren commented on #60
Hi @lrdevri.
Thank you for the requests. It was as I expected. I have already a fix for this issue. I can do a new release later today.

Does that work for you?

Thanks!
Best regards,
Karl Dahlgren

[2018-07-12 05:22] #60 closed

[2018-07-12 18:53] karldahlgren commented on #60
Hi @lrdevri.
This issue has now been resolved. It is part of the latest release (1.24). Thank you for raising the ticket.

Best of luck :)
Best regards,
Karl Dahlgren

[2018-07-20 07:46] timonych opened #61 "Incorrect encoding with none-Latin symbols"
Hello,

The project is perfect but I have a problem with a Cyrillic symbols with upgrading or restoring the Project.

I have created the Project and there are some place where I need to user Cyrillic symbols. After upgrading o new version or after export / import All Cyrillic symbols are replacing by symbol ?.
On new version 1.24 after rewriting text via Cyrillic symbols the text becomes like code

[2018-07-21 12:09] karldahlgren commented on #61
Hi @timonych.
Thank you so much for using Castle Mock and your feedback. Much appreciated :)
I found the issue and it has now been resolved. It will be part of the next release, which is expected to be released at the end of the week.

Just keep in mind that you might have to set the Content-Type for your mocked responses depending on your setup. For example, mine was using iso-8859-1 as default.

[2018-07-21 12:09] #61 closed

[2018-07-25 15:50] agulea opened #62 "Request with Authorization parameter in Header doesn't work"
I use castlemock through docker.
When I try to make  a request with Basic Authorization in header I got the error
`{
    "timestamp": 1532533505835,
    "status": 401,
    "error": "Unauthorized",
    "message": "Unauthorized",
    "path": "/castlemock/mock/rest/project/2JyYJ1/application/NBDpco/getlistinovu"
}`
I have a REST project with swagger file. The Authorization parameter is defined like t

[2018-07-25 16:15] karldahlgren commented on #62
Hi @agulea!
Could you send me the request that you are using? Did you include the word Basic in the authentication header?

Example: Authorization: Basic QWxhZGRpbjpPcGVuU2VzYW1l

Thanks!
Best regards,
Karl Dahlgren

[2018-07-25 16:40] agulea commented on #62
Hi @karldahlgren ,
I have a GET request:
http://192.168.99.100:8080/castlemock/mock/rest/project/2JyYJ1/application/NBDpco/getlistings?lingua=en&location=123
Headers:
Authorization: Basic dXNlclRyYWRlQjJCOnYzbjFzdXNlclRy

Thank you very much!!
Best regards,
Ana Gulea

[2018-07-26 10:53] agulea opened #63 "The Mocks don't take in consideration the query string parameters"
I have a GET method that use query string parameters but I'm not able to define mocks based those parameters. The mock can be defined only per path.
Do you take in consideration it for the next releases? It would be great to have the possibility to define mock based on query string parameters also.
Thank you very much. The idea of this project is great, I appreciate it.

Best regards,
Anamaria Gul

[2018-07-26 15:55] karldahlgren commented on #62
Hi @agulea.
I'm so sorry, I misunderstood question before. I can confirm that this seems to be a bug. I was able to reproduce this yesterday. I will try to solve it during the day and then push for a new release.

Thank you so much for raising this issue.
Best regards,
Karl Dahlgren

[2018-07-27 00:35] karldahlgren commented on #62
Hi @agulea.
The issue should now been resolved. I have released a new version, which is available both on the webpage or on Docker hub. If you could, it would be very much appreciated if the changes made actually resolves your issues.

Thank you once again for raising this issue.
Best regards,
Karl Dahlgren

[2018-07-27 00:35] #62 closed

[2018-07-29 09:42] karldahlgren commented on #63
Hi @agulea.
I've been thinking the same. It would be nice to match a response based on incoming query parameters. Do you have a suggestion on how this could be configured?

Thank you for the feedback!
Best regards,
Karl Dahlgren

[2018-07-30 06:56] agulea commented on #63
HI @karldahlgren,

The number of parameters is different for each method, so an option could be to configure them using a json instead of use a different textbox for each one.
Thank you.

Best regards,
AnaG

[2018-07-30 07:00] agulea commented on #63
Hi @karldahlgren ,

Another type of mock which would be great to have is for POST requests, a mock based on body content. I have some examples of methods which use the same path but based on body content I get a different response.
What do you think?

Thank you very much.
Best regards,
AnaG

[2018-07-30 09:20] agulea commented on #62
Hi @karldahlgren,
I tested your changes and they are working very good. Thanks for fixing it.

Best regards,
AnaG

[2018-07-30 09:26] agulea opened #64 "How can the created projects be stored in docker?"
Hi,
I use castle through docker but it looks like the created projects are removed if I restart the docker-machine on Windows.
I added this code in docker-compose.yml:
`castle-mock:
    image: castlemock/castlemock
    ports:
      - "8080:8080"
    volumes:
      - ${PATH}/castle-mock:/root/.castlemock`

Do you have any idea?

Thank you very much.
Best regards,
AnaG

[2018-07-30 14:44] karldahlgren commented on #64
Hi @agulea.
I'm not certain if it works differently on Windows, but you can find more information about Docker persistence on Castle Mock's webpage: https://castlemock.com/docker/. See under persistence. I believe that this is what you are looking for.

I hope it help!
Don't hesitate to contact me if you have any further questions.

Best regards,
Karl Dahlgren

[2018-07-30 14:44] #64 closed

[2018-07-30 17:39] karldahlgren commented on #63
Hi @agulea.
I like both ideas! We already have XPath matching for SOAP project. We could do something similar for REST.
I will start looking into these as soon as I can. However, I have a very limited amount of time at the current moment. Things will get back to normal around the middle of August. So I wouldn't expect these to be implemented before that unfortunately.

I hope that works for you.
T

[2018-07-30 20:43] agulea commented on #63
Great @karldahlgren !! Thank you very much.

[2018-08-01 15:13] agulea commented on #64
Hi @karldahlgren ,
The problems was that docker machine looses volume data on restart because the files added by castle was written only on virtual path, I forgot to share to Virtual Box the directory used for files added by the castle. Now it works fine.

Thanks.
Best regards,
Ana Gulea

[2018-08-03 06:50] timonych opened #65 "Is there Any chance to work with Oracle WebLogic ?"
Hi again,

I have tried to use the Application with Oracle WebLogic, but I received an error when I have tried to open the page.

Whitelabel Error Page
This application has no explicit mapping for /error, so you are seeing this as a fallback.

Fri Aug 03 09:41:30 MSK 2018
There was an unexpected error (type=Internal Server Error, status=500).
weblogic.servlet.jsp.CompilationException: Failed to co

[2018-08-03 06:57] karldahlgren commented on #65
Hi @timonych.
Castle Mock is currently not support with Oracle WebLogic. However, I could investigate adding support for it in future releases. I'm currently out traveling and won't be able to do a lot for another week or so. I can start looking into this as soon as I'm back.

Does that work for you?

Thanks!
Best regards,
Karl Dahlgren

[2018-08-03 07:08] timonych commented on #65
I have already using Castlemock with Tomcat, but it's not ts usefull to contole it such as WebLogic.
In other case with Oracle WebLogic you can control each service via AdminServer and web interface of WebLogic.

So, this is not critical for me, but it will be perfect in future.

Also, can you add 20$ in donate page?

[2018-08-03 07:13] timonych commented on #65
Also, I have succesfull deployed the Application with Number of Release, but Oracle have made link with the name Application. So, if I want to test new version if I will publish new version it can damaged old version.

When You will try to add Oracle WebLogic support, I think it necessary to add versions in name or something else to make unique each new version.

Also, I can test each moment with

[2018-08-03 08:29] milkotodorov opened #66 "Import WSDL location with user and password"
Is it possible to import WSDL location (from HTTPS) which requires authentication? https://[user]:[pass]/... is not working.

[2018-08-03 14:13] milkotodorov opened #67 "Multiple Input XPath Expressions"
Is it possible to combine several XPath expressions? When not - it would be a nice feature to be added.

[2018-08-03 14:14] milkotodorov opened #68 "WSDL with dependencies are not supported"
WDSLs that import another WSDLs cannot be imported properly.

[2018-08-03 16:33] karldahlgren commented on #66
Hi @milkotodorov.
No, it is not currently support, but I can add support for it in the next release if you wish?

Thanks!
Best regards,
Karl Dahlgren

[2018-08-03 16:35] karldahlgren commented on #67
Hi @milkotodorov.
Sure, I can add this to the next release. Could you give a suggestion on how you would like this to work?

Thanks!
Best regards,
Karl Dahlgren

[2018-08-03 16:37] karldahlgren commented on #68
Hi @milkotodorov.
Castle Mock tries to avoid dependencies when importing WSDLs, such as schemas and other WSDL files (Mainly since it is not always certain that Castle Mock have access to the linked dependencies). However, it would be interesting to investigate this. Could you provide an example on a WSDL that imports another WSDL file?

Thanks!
Best regards,
Karl Dahlgren

[2018-08-03 16:40] karldahlgren commented on #65
I appreciate your feedback! It is very valuable. I will definitely look into this.

Thank you very much!
Best regards,
Karl Dahlgren

[2018-08-06 07:30] agulea opened #69 "REST API response with status code 201"
Hello,

I have a POST request that responds with status 201 in case of success. Do you know the response is not recorded in castle mock?
You can see it in the attached file. Thanks.
![image](https://user-images.githubusercontent.com/41696574/43702841-b51d19e6-9963-11e8-9bc2-a86de5125563.png)

Best regards,
AnaG

[2018-08-06 08:32] milkotodorov commented on #68
Hi @karldahlgren,

here is one example: [wsdl_sample.zip](https://github.com/castlemock/castlemock/files/2261747/wsdl_sample.zip)

[2018-08-06 09:01] milkotodorov commented on #67
Hi @karldahlgren,

Thanks for you fast response and willingness to add this.
I would suggest that you make it like the Headers below. So you can add/delete a XPath Expression. And also to be a bit wider in oder to read the longer XPath rules easily.

Thank you!

[2018-08-06 09:04] milkotodorov commented on #66
Hi @karldahlgren,

that would be great.

Thank you very much!

[2018-08-06 15:28] karldahlgren commented on #69
Hi @agulea.
It is hard to say what could cause this problem. The returned response should always be logged. Can you reproduce the issue? Could you tell me a little bit more about your service? Was it configured to mock a response or was it configured to forward/record/record once/echo?

Thank you very much!
Best regards,
Karl Dahlgren

[2018-08-06 16:05] agulea commented on #69
Hi @karldahlgren ,

The method has two statuses:
- 200 in case of error and the response is a JSON
- 201 for success and the response is a JSON
Using castle mock a response is recorded only when I get a 200 status but not for 201. The service was configured to record.
I attached tow snapshot from rest/event stored files.
![post_without_response_logged](https://user-images.githubusercontent.com/416

[2018-08-10 06:42] karldahlgren commented on #69
Hi @agulea.
Sorry for the delayed response. I'm currently out traveling.
Thank you for the details! I'm currently looking into this. Don't really know what could cause this issue, but I will keep you posted.

Thanks again!
Best regards,
Karl Dahlgren

[2018-08-14 02:39] jhonatanforero commented on #63
Hi @karldahlgren
Request Matcher for Rest Project Its a Great Idea!

[2018-08-15 12:27] milkotodorov commented on #68
Hi @karldahlgren,

do you have any estimations when this will be available?

Thank you!
Milko

[2018-08-15 20:56] karldahlgren commented on #68
Hi @milkotodorov.
It's hard to say, but I'm hoping to do some work on this during the weekend. This is on the top of my priority. I just returned back from traveling and intend to start working on this as soon as I can.

I will keep you posted :)

Thanks!
Best regards,
Karl Dahlgren

[2018-08-23 06:02] timonych opened #70 "High CPU Utilization"
Hello again, karldahlgren!

I have pushed a perf test on out web-service which is going to mock service.

After midnight the Mock service has taken the all CPU, but I can't understand why.

The SOAPMOCK has 4 CPU and 2 GB RAM. Maybe it needs more?

Do You have any ideas about it?
![2018-08-23 09_01_23-grafana - wls host soap](https://user-images.githubusercontent.com/2186304/44507453-4f06c280-a6b3

[2018-08-23 21:50] karldahlgren commented on #70
Hi @timonych.
Hmm, that is very odd. You shouldn't need any more memory or CPU. It should work fine. Did it go back to normal after a while or did you have to reboot the server? Did you know if you forward any requests? I was thinking if there was a service that might forward a request towards itself.

Is it repeatable or did it only happen once?

Once again, thank you very much for raising these

[2018-08-24 08:01] timonych commented on #70
Hi @karldahlgren

I have started the PERF test at 17 by Moscow Time and You can it view on the Screen, that the the load start after 16 and the Utilization has been normal until 00:20.

When I stopped the testing the Utilization became normal, so the reboot of tomcat or server was not neccessary.

It happen once, but I haven't tested on such long period before. After vacation I will test it again.

[2018-08-24 20:16] karldahlgren commented on #66
Hi @milkotodorov.
About to look into this issue, but I would need some further information. How would you like the authentication to be done? Basic authentication or did you have something else in mind?

Basic authentication: https://en.wikipedia.org/wiki/Basic_access_authentication

Thanks!
Best regards,
Karl Dahlgren

[2018-08-24 20:17] karldahlgren commented on #68
Hi @milkotodorov.
This feature is almost done. However, it will only import WSDL files and mock them. It won't change the URL towards the linked WSDLs or anything like this. Would this work for you? Otherwise, it might take a little bit longer time.

Thanks!
Best regards,
Karl Dahlgren

[2018-08-24 20:19] karldahlgren commented on #70
Hi @timonych.
I will keep an eye on this as well.
Looking forward to hear how the tests goes.

Enjoy your vacation!
Best regards,
Karl Dahlgren

[2018-08-24 20:20] karldahlgren commented on #65
Hi @timonych.
I believe I'm more or less done with this. Just need to test it and verify it.
Just wanted to keep you posted.

Best regards,
Karl Dahlgren

[2018-09-01 14:38] karldahlgren commented on #68
This issue has been implemented and will be part of the next release.

[2018-09-01 14:38] #68 closed

[2018-09-01 14:39] karldahlgren commented on #67
This issue has been implemented and will be part of the next release.

[2018-09-01 14:39] #67 closed

[2018-09-01 14:39] karldahlgren commented on #65
This issue has been implemented and will be part of the next release.

[2018-09-01 14:39] #65 closed

[2018-09-04 08:59] milkotodorov commented on #68
Thanks @karldahlgren!
This should work I think. I'll give it a try.

[2018-09-04 12:46] milkotodorov commented on #66
Hi @karldahlgren,

did you have any chance to look into this?

Thank you,
Milko

[2018-09-04 12:46] milkotodorov commented on #67
That's looks great - thanks a lot!

[2018-09-11 08:04] milkotodorov commented on #68
Hi @karldahlgren,

unfortunately this doesn't work. Have you tried to import the sample that I uploaded here?
Can you please check this further?

Thanks,
Milko

[2018-09-11 14:46] mhewedy opened #71 "When Stauts: "Mocked" and Response strategy: "Sequence" it returns "error-response""

[2018-09-11 20:16] jhonatanforero commented on #63
Hi @karldahlgren
Some date to release the Request Matcher for REST?

[2018-09-11 20:20] karldahlgren commented on #63
Hi @jhonatanforero.
My goal is to have this done by the end of the week.

I hope that works for you.
Best regards,
Karl Dahlgren

[2018-09-11 20:26] karldahlgren commented on #71
Hi @mhewedy.
I have now resolved this issue and released a new version with the fix (1.29).

Thank you so much for raising this issue. As always, much appreciated.
Best regards,
Karl Dahlgren

[2018-09-11 20:26] #71 closed

[2018-09-14 13:13] milkotodorov opened #74 "WSDL with dependencies not working"
Hello,

I just want to reopen issue https://github.com/castlemock/castlemock/issues/68 as the provided implementation doesn't work. I already replied there, but still do not get any reply...

Regards,
Milko

[2018-09-14 13:26] milkotodorov opened #75 "XPath expression parsing"
Hello,

writing xpath expression cannot be parsed for the following XML:

[code]

I want to map the "CIF" parameter with the expression: `//getProduct/parameters/'parameter name=\"CIF\"'[text()='B63212930']`.

How the right syntax should be?

Thanks

[2018-09-14 13:51] milkotodorov opened #76 "XPath expression deletting"
Deleting the first XPath expression deletes the last one from the list.

[2018-09-14 13:54] milkotodorov opened #77 "XPath expressions validity"
XPath expressions are considered with logical `OR`. However it would be nicer to change that to `AND` too. Best it would be to select between `OR` and `AND`

[2018-09-15 11:50] karldahlgren commented on #76
Hi @milkotodorov.
This issue has been resolved by @mhewedy and will be part of release 1.30.

Thank you for reporting this issue. Much appreciated.
Best regards,
Karl Dahlgren

[2018-09-15 11:50] #76 closed

[2018-09-15 12:06] karldahlgren commented on #75
Hi @milkotodorov.
The following syntax should work:

I hope it helps. I will add a unit tests for this scenario as well.
Best regards,
Karl Dahlgren

[2018-09-15 12:06] #75 closed

[2018-09-17 05:13] mhewedy commented on #66
Why not @milkotodorov just download the WSDL file and then upload into castlemock?

[2018-09-17 06:18] mhewedy commented on #77
Why not use XPath expressions to accomplish such cases?
(I am not sure about your use case)

For example this input xml:

[code]

This xpath would succeed:
`.//user[login='user1' and name='User 1' and profile/id[text()='1'] ]`

This whould fail:
`.//user[login='user1' and name='User 1' and profile/id[text()='5'] ]`

[2018-09-17 11:30] milkotodorov commented on #77
That would work yes, though if the expression is too long I find it easier to read when they are several smaller.

[2018-09-17 11:34] milkotodorov commented on #66
Hi @mhewedy,

I already did this (the provided example that I gave you), but within the downloaded WSDL, the dependent WSDLs are referenced with their remote location and not with the local files, which need to be changed by hand. And you don't want to do this if you have many dependencies, isn't it?

Makes sense also to support at least basic authentication.

[2018-09-17 12:00] mhewedy commented on #66
Is it as WCF web services?

[2018-09-17 12:00] mhewedy commented on #77
I am afraid that, the UX might be complex.

[2018-09-17 12:05] milkotodorov commented on #66
This I don't know - we have credentials to access one, but we don't own it.

[2018-09-18 12:34] milkotodorov commented on #77
I think we need just one radio button saying how to combine all the expressions - OR or AND.
Why need to be more complex?
Currently actually it is not really clear at first look how they are combined...

[2018-09-18 12:44] mhewedy commented on #77
I like the idea.

[2018-09-18 19:17] karldahlgren commented on #63
Hi @jhonatanforero.
Still working on this, but almost done. I hope that I will get this done as soon as possible.
I will keep you posted on this.

My apologies for the delay on this.

Best regards,
Karl Dahlgren

[2018-09-21 07:46] milkotodorov opened #78 "Header deletion bug"
Hello All,

one more little bug - when you try to delete a header which is not the last one, it is deleted, but after one update the response and opens it again it stays like this:

![image](https://user-images.githubusercontent.com/14890886/45867139-09f1b100-bd83-11e8-90cc-cfaff5e7d107.png)

Thanks!

[2018-09-27 14:34] php-coder opened #79 "Support for declarative configuration"
Hi, thank you for your work on this project!

I'd like to have a way to specify some configuration to avoid manual configuration and have fully-functional mock server right after startup.

In my case, I need to create a SOAP project and import WSDL file into it.

Here some possible ways to implement it:
- one can pass desired configuration via environment variables:
  - `PROJECT_1_NAME=FooService`

[2018-09-27 14:45] php-coder opened #80 "Support for permanent links"
The address of a mocked service contains a piece of random information that makes it unpredictable and hence hard to automate. For example, the URL http://172.22.0.4:8080/castlemock/mock/soap/project/fqIyhv/ServicesSOAPBinding contains `fqIyhv` that differs across projects.

It means if I put it to the application configuration, it won't work on a machine of my teammate.

One of the possible ways

[2018-09-27 15:10] karldahlgren commented on #79
Hi @php-coder.
Thank you so much for using Castle Mock. I hope you like it!
To my knowledge, the most common way of dealing with this kind of things is to simply create a project manually and then export it and import it when booting up the server. Castle Mock provides REST services just for this particular use case.

Would that work for you, or are you using it in a different way?

Thanks!
Best r

[2018-09-27 15:13] karldahlgren commented on #80
Hi @php-coder.
I like this idea. However, I would like to refer to my previous answer in issue 79. How are tried to export and import the project instead of reimporting the WSDL? That being said, I can definitely see being implemented in the future.

Thanks!
Best regards,
Karl Dahlgren

[2018-09-27 15:46] karldahlgren commented on #79
You could have a script that is starting Docker for you. When Docker is done, you script could continue then send a REST call towards Castle Mock's REST API using cURL or something similar.

[2018-09-29 10:17] karldahlgren commented on #78
Hi @milkotodorov.
My apologies for the late response.
Thank you for raising this issue. This issue has already been resolved and will be part of the next release.

Best regards,
Karl Dahlgren

[2018-09-29 10:17] #78 closed

[2018-09-29 10:18] karldahlgren commented on #77
Hi @milkotodorov.
Thank you for the suggestion.
I will take a look at this as soon as I can. Should be quite easy to implement.

Thank you.
Best regards,
Karl Dahlgren

[2018-10-03 18:58] hallmont opened #81 "Unable to identify SOAP operation Error Message"
Hi, I'm getting the following error when I try to call a SOAP mock service :

`<error-response>
    <error-message>Unable to identify SOAP operation: TempConvertSoap</error-message>
</error-response>`

I'm using the following WSDL :

https://github.com/marcosfjr/ControleTemperaturaDESKTOP/blob/master/xml-resources/web-service-references/tempconvert/wsdl/www.w3schools.com/webservices/tempconvert.as

[2018-10-03 19:41] karldahlgren commented on #81
Hi @hallmont.
It looks like the SOAP body that you are using is incorrect. Could you please try the following body instead?

`<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:web="http://www.w3schools.com/webservices/">
   <soapenv:Header/>
   <soapenv:Body>
      <web:CelsiusToFahrenheit>
         <web:Celsius>?</web:Celsius>
      </web:CelsiusToFahrenheit>
   </

[2018-10-03 21:00] hallmont commented on #81
Thanks for the super fast response!  Yes, that works perfectly.  Thanks! -- John

[2018-10-04 18:56] karldahlgren commented on #81
Great to hear!
Don't hesitate to contact me again if you need further support.

Best regards,
Karl Dahlgren

[2018-10-04 18:56] #81 closed

[2018-10-07 21:08] karldahlgren commented on #63
This feature has now been implemented and will be part of the next release. The next release will be released tomorrow.

I'm sorry for the delay and I hope you enjoy the feature.
Don't hesitate to contact me if you have any questions or further feedback.

Thank you very much.
Best regards,
Karl Dahlgren

[2018-10-07 21:08] #63 closed

[2018-10-07 22:39] jhonatanforero commented on #63
Hi Karl

Great job! Thanks for all.

[2018-10-08 12:38] milkotodorov commented on #74
Hi @karldahlgren,

all the .XSD and .WSDL files are referenced locally - not via link. Have a look inside the WSDL files.
The question is when I upload the w1.wsdl which points to another w2.wsdl and so on - are they all uploaded and available for castlemock? Or do you upload w1.wsdl without its dependencies?

By the way on which e-mail I can contact you? It's about contribution to your project...

[2018-10-08 15:56] milkotodorov opened #82 "Adding export to the REST API"
Hello,

would it be possible to add the `export` functionality to the Castlemock's REST API?

Thanks!

[2018-10-08 18:32] karldahlgren commented on #74
Hi @milkotodorov.
Ah, I see. In that case it won't work. I believe that the better solution there is to simply select multiple WSDL files to upload. That should do the trick for you :).

Regarding contribution: Contribution is always appreciated. Please send me an email to karl.dahlgren@castlemock.com and we can continue the conversation there.

Best regards,
Karl Dahlgren

[2018-10-08 18:46] karldahlgren commented on #82
Hi @milkotodorov.
Good idea. It has been on my list to add more functionalities to the REST interface.
The feature will be part of next release.

Thanks for the suggestion!
Best regards,
Karl Dahlgren

[2018-10-08 18:46] #82 closed

[2018-10-08 18:47] #74 closed

[2018-10-08 19:16] karldahlgren commented on #63
Hu @jhonatanforero.
Castle Mock 1.30 has now been released.
Please feel free to contact me again if you have any feedback or further suggestions. Always appreciated :)

Thank you!
Best regards,
Karl Dahlgren

[2018-10-09 06:15] timonych commented on #65
Hello again, @karldahlgren !

I have installed the last version, 1.30 on Oracle Weblogic, but it doesn't work :(

This application has no explicit mapping for /error, so you are seeing this as a fallback.

Tue Oct 09 09:12:34 MSK 2018
There was an unexpected error (type=Internal Server Error, status=500).
weblogic.servlet.jsp.CompilationException: Failed to compile JSP /WEB-INF/views/login.jsp log

[2018-10-11 07:46] milkotodorov opened #83 "Header deletion bug"
Hello,

the bug https://github.com/castlemock/castlemock/issues/78 is unfortunately not fixed with 1.30...

[2018-10-11 07:48] milkotodorov opened #84 "XPath expression deletting"
Hello,

the bug https://github.com/castlemock/castlemock/issues/76 is not really fixed with version 1.30. Now you cannot delete at all the first defined X-Path Expression.

I wonder, did someone test the fixes at all?

Regards,
Milko

[2018-10-11 07:50] milkotodorov opened #85 "WSDL with dependencies are not supported"
Hello @karldahlgren.

the solution proposed in https://github.com/castlemock/castlemock/issues/68 doesn't solve the issue.

By the way it would be nice to leave the issue opened and close them after user's confirmation that this problem is fixed.

Thanks,
Milko

[2018-10-14 15:47] karldahlgren commented on #80
Hi @php-coder.
Did you see my previous answer? Did you manage to resolve this issue?

Best regards,
Karl Dahlgren

[2018-10-14 15:47] karldahlgren commented on #79
Hi @php-coder.
Did you see my previous answer? Did you manage to resolve this issue?

Best regards,
Karl Dahlgren

[2018-10-14 16:09] karldahlgren commented on #84
Hi @milkotodorov.
The issue has now been resolved and will be part of the next release. Planning on releasing a new release later tonight.

However, I want to remark on the following comment:

This kind of comments are looked down upon in this project and not welcome here. All the contributors work on a voluntary basis and doing so to make the project better. We are all trying to do something good

[2018-10-14 16:10] karldahlgren commented on #83
Hi @milkotodorov.
This issue has been resolved and will be part of next release.

Thanks!
Best regards
Karl Dahlgren

[2018-10-14 16:10] #83 closed

[2018-10-14 16:11] karldahlgren commented on #69
Hi @agulea.
I haven't been able to reproduce this issue. Is this still causing issues for you?

Thanks!
Best regards,
Karl Dahlgren

[2018-10-14 17:49] milkotodorov commented on #85
Hi @karldahlgren,

I think I already attached them to the initial issue, but sure - I'm sending it to you once more.
By the way don't you think it is better to leave the issue close until it is fixed and confirmed to be fixed from the reporter - then we will avoid creating many issues linked to each other.

Regards,
Milko
[CreditSafe_WSDL_Local.zip](https://github.com/castlemock/castlemock/files/2

[2018-10-14 18:06] php-coder commented on #79
Hi @karldahlgren,

yes, I saw it, thank you!

We were looking to CastleMock for our prototype and because we couldn't make it work, we decided not to use it unfortunately. These issues are feedback to you and also flags for others.

[2018-10-14 18:10] karldahlgren commented on #79
Hi @php-coder.
Sorry to hear that, But who knows, it might be to use for you in the future. In that case, you are more than welcome to contact me again if you have any questions or feedback.

Thank you and best of luck with your prototype.
Best regards,
Karl Dahlgren

[2018-10-14 18:10] #79 closed

[2018-10-14 18:10] #80 closed

[2018-10-14 18:15] milkotodorov commented on #84
Hi @karldahlgren,

I've just compiled and tested the master branch, but unfortunately the last one X-Path Expression left in the list cannot be deleted. Do I need to open another issue? Or this here is enough?

Regards,
Milko

[2018-10-14 18:18] karldahlgren commented on #84
Hi @milkotodorov.
Thank you for testing.
Are you sure that the browser hasn't cached any resources such as javascript files?
Not able to reproduce it at the moment.

(And yes, the ticket here is enough :) )

Best regards,
Karl Dahlgren

[2018-10-14 19:32] karldahlgren commented on #85
Hi @milkotodorov.
I see now why these doesn't work. Hmmm will be a little bit tricky to solve. I have to dig deeper into this before I can give any estimation. I will keep you posted.

Thanks!
Best regards,
Karl Dahlgren

[2018-10-17 16:55] spartancr8 commented on #63
Hi @karldahlgren:

I'm checking the application concerning the request match in REST, but there's no field to set the match, or similar to the field present in the SOAP services.

By any chance, do you have any documentation that may allow us to set the request match in REST properly? I'm still afraid I might be missing something, but so far I didn't find the way.

Thank you in advance and my best

[2018-10-17 21:48] karldahlgren commented on #63
Hi @spartancr8.
My apologies for the lack of documentation. I can only blame it on lack of time.
Anyway, I will try to describe it the best I can in this response.

The path parameters will be extracted and presented when creating or modifying a REST mock response. A path parameter is identified with {} in the URL. Example /user/{userId}/order/{orderId}. The following parameters should be shown in

[2018-10-18 14:08] spartancr8 commented on #63
Hi @karldahlgren:

Thank you very much for the explanation. It will help me a lot!
Besides, I wanted to ask something else: It would be even more helpful if the match could be done also by http method (get, put, post, and so on...) and/or by data sent in the request (one attribute at least). Is there planned any development that might accomplish what I specified above?

Thank you again for your am

[2018-10-18 20:16] karldahlgren commented on #63
Hi @spartancr8.
Glad I could help =)
Could you elaborate what you mean with match by method? Because today the incoming request is mainly mapped towards a REST method (i.e GET, POST, PUT and so on). All the mocked responses belong to a particular method.
The second question is very interesting. Do you mean that you map towards a particular field in the request body? We have support for this for SO

[2018-10-18 21:03] spartancr8 commented on #63
Hi @karldahlgren:

Exactly, that's what I'm asking. About a particular field in the request body.

[2018-10-23 21:55] spartancr8 commented on #14
Hi @karldahlgren:

Is there a way to make the network delay available for each mock, not the whole operation? I want to make request match on SOAP, but I want only specific mocks to show network delay. Right now, as long as I've seen, the network delay is applied to the whole operation.

Thank you in advance.

Regards,

[2018-10-24 19:52] karldahlgren commented on #14
Hi @spartancr8.
My apologies for the delay. Unfortunately, it can only be done on an operation level, but it has crossed my mind to move that functionality to the mocked response itself (Or at least have it as an alternativ). Is this something that would help you?

Thank you!
Best regards,
Karl Dahlgren

[2018-10-28 09:31] arthurvaverko opened #86 "Importing swagger creates an nameless application in REST project"
After importing a swagger.json file a new application is created but it has not name and thus it cannot be accessed. only by view-source was i able to get the link to the application an update its name.

[2018-10-28 20:52] karldahlgren commented on #86
Hi @arthurvaverko.
Thank you for raising this issue. Would it be possible for you to send an example of your swagger.json file?

Thank you very much!
Best regards,
Karl Dahlgren

[2018-10-30 04:54] arthurvaverko commented on #86
here it is: https://gist.githubusercontent.com/arthurvaverko/e0553b33fdb5b75cb14421a478b6e773/raw/2178716904435108912513e7cd57537009ef2ad8/Task.Service.json

i must say i have used the pet store swagger and it was imported fine, i suspec its using the "host" property but it is not mandatory, i would think it should use the Title or at least add some default text to the application name like (untit

[2018-11-01 07:06] arthurvaverko opened #87 "Getting Error consuming SOAP service from C# generate client"
I am using the following  2 WSDL: https://gist.github.com/arthurvaverko/7ebb850ff9c2903509a0158005741e41

Importing it to castelmock and generating a client proxy using same file.

getting the following error from both:

U have sniffed the outbound request made by the generated c# client and it seems fine to me ..
it also works with getSandbox.com

[code]

[2018-11-04 09:52] arthurvaverko commented on #87
Another related issue, i have the second test2.wsdl file without soapAction attributes meaning it will have to match by operation name, but castle mock is not able to match any request made from the c# client.

example operation is:

[code]

[2018-11-04 21:07] karldahlgren commented on #87
Hi @arthurvaverko.
Thank you for reporting this issue. It seems that the wrong Content-Type was used. I have resolved this issue and it will be part of the next release.
I have also re-written the whole parsing of WSDL files. If the Content-Type fix doesn't resolve your issue, then I would recommend you to try to re-import the WSDL again.

Thank you very much once again. Please feel free to contac

[2018-11-04 21:07] #87 closed

[2018-11-05 10:29] arthurvaverko commented on #87
thanks .. how can i get the new release and \ or compile from source ?
do you have any instructions on how to compile it ? i have tried to use vsCode but had trouble finding the lexer and parser clasess .. something to do with them no inside the .classpath i believe ..

[2018-11-06 22:00] karldahlgren commented on #87
Hi @arthurvaverko.
I believe I might know what the problem is here. It seems that the namespace extracted from the body isn't done correctly when it is included in the actual element. I can fix this. In the meantime, you can always turn off the match of namespace by changing the identify strategy in the SOAP operation setting page from "element and namespace" to just "element". That should resolve

[2018-11-07 09:04] arthurvaverko commented on #87
yes that helped .. thanks ..

[2018-11-11 18:32] ishanrakitha opened #88 "soap address location replace_with_actual_url"
Everything works when executed from SOAP UI. I'm using apache cfx in my code base, when i execute from the program soap address location replace_with_actual_url.

Your feedback is highly appreciated.

[2018-11-11 18:38] karldahlgren commented on #88
Hi @ishanrakitha.
I'm guessing that your code base is retrieving the WSDL file from Castle Mock and tries to send requests? Castle Mock does not modify the provided WSDL file and replace the old endpoint specified.

Is it possible for you to specify the Castle Mock endpoint in your code base?

Thanks.
Best regards.
Karl Dahlgren

[2018-11-11 18:46] ishanrakitha commented on #88
Hi @karldahlgren.

Codebase is already pointed to the Castle Mock endpoint. I'm using Apache CFX. When switched to SOAP UI Mock service it works. That means soap ui modifies the location to localhost ?

Thanks & Regards,
Ishan.

[2018-11-11 18:50] karldahlgren commented on #88
So you are using Apache CXF to build web service or to consume the web services? Would it be possible for you to send me your WSDL file? You can send it to me directly on the following mail address: karl.dahlgren@castlemock.com

Thanks!
Best regards,
Karl Dahlgren

[2018-11-11 19:30] karldahlgren commented on #88
Great to hear! Good luck with your project.
Feel free to contact me again if you face any other issues.

Best regards,
Karl Dahlgren

[2018-11-11 19:40] ishanrakitha commented on #88
Thank you so much and wish you the same! :)

[2018-11-11 19:40] #88 closed

[2018-11-14 09:36] milkotodorov opened #89 "RuntimeWSDLParser exception on mocked WSDL"
Hello,

I'm mocking the following WSDL: https://webservice.simu.myksv.at/NASApp/axis/services/urn:ksv-premium?wsdl and it seems to work initially fine.
However when I use it (it is in forward mode) I've the the following error:

[code]

This comes from `com.sun.xml.internal.ws.wsdl.parser.RuntimeWSDLParser`, line 239-240:

[code]

On first look both WSDL - the mocked and the original looks identic

[2018-11-14 13:21] milkotodorov opened #90 "DB Storage plans"
Is there are any plans considering storage into a DB instead of FS?

[2018-11-14 21:59] karldahlgren commented on #90
Yes and no. 😄
Castle Mock is built in such a way that it should be easy to add database support in the future. In theory it should be quite easy to add support for it. However, there is no plans right now to start adding this support.
My approach has been that I would wait until someone requests it. I guess that day just came 😄

What do you think? Should we add support for DB? If so, what kind of

[2018-11-14 22:05] karldahlgren commented on #89
Hi.
The error message does not seem to come from Castle Mock. I can only assume that it comes from the forwarded host. My guess here is that invalid Content-Type is being sent. Castle Mock simply forwards all the incoming request headers to the forwarded host. Do you know which content-type you send in your request towards Castle Mock? Is it possible for you to try to send the request with Content

[2018-11-15 05:31] mhewedy commented on #90
I like the current file-based storage solution.

And If DB support is needed, we need to make it optional and to support multiple DBMS (mysql, postgres, sqlite, etc ...)

[2018-11-15 06:10] karldahlgren commented on #90
Absolutely. I agree with you 100%. Castle Mock will always have file-based storage. One of the strengths with Castle Mock is that it is easy to setup. Simply deploy it to a Tomcat and then you are up and running.

My idea was to have different profiles for each implementation (FS, MySQL, MongoDB and so on). The repository layer is separated so that it would be easy in the future to add multiple im

[2018-11-15 11:14] milkotodorov commented on #89
Hi,
I think the error comes from the validation of the WSDL which comes from Castlemock not from the original endpoint (if I point directly to it it works without any issue). This happens before any query is fired.
I have to double check the Content-Type of the request being sent.

[2018-11-15 12:31] milkotodorov commented on #90
I do agree with @mhewedy having multiple DBs support especially when the effort for it won't be very big. We'll do benefit of it as we are facing issues with the future of the permanent FS in our internal cloud. FS of course I find it too nice to be the default. I would suggest string with Postgres.

[2018-11-15 14:10] mhewedy commented on #90
@karldahlgren Looks very good idea to me.

I am thinking of creating some post-installation pages that allow the user to do select from multiple data sources and do the configuration for it. (same as Jenkins, bamboo, etc) (require more work)

Or
To allow the user to go dirty and do the configuration himself.

Which way to follow?

[2018-11-15 22:45] karldahlgren commented on #89
Hi @milkotodorov.
Do you get the same error when you mock the services or only when you forward messages? Thanks!

Best regards,
Karl Dahlgren

[2018-11-15 22:50] karldahlgren commented on #90
@mhewedy I think we could start by simply allowing the users to configure it in a configuration file and see how big the demand is. I agree that in the long run it would be nice to have a post-installation page which allows the users to configure it more simplistic and elegant, but there are other things I would rather prioritize first 😄

Best regards,
Karl Dahlgren

[2018-11-16 07:51] mhewedy commented on #90
I We need to implement 5 Repositorys:

com.castlemock.web.mock.soap.model.project.repository.SoapProjectRepository
com.castlemock.web.mock.rest.model.project.repository.RestProjectRepository
com.castlemock.web.mock.rest.model.event.repository.RestEventRepository
com.castlemock.core.basis.model.user.repository.UserRepository
com.castlemock.web.mock.soap.model.event.repository.SoapEventRepository

!

[2018-11-16 21:59] karldahlgren commented on #89
I believe that the problem here is that the WSDL file not returned with the Content-Type charset UTF-8. I have added support for this. Will release a new version shortly so you can try and see if it has any affect.

Best regards,
Karl Dahlgren

[2018-11-18 05:19] mhewedy commented on #90
@karldahlgren Yes, I do. Let me give it a try and will come back to you with the results.

[2018-11-19 10:07] milkotodorov commented on #89
Hi Karl, I tried your fix, but unfortunately still the same error...

[2018-11-19 19:21] karldahlgren opened #92 "Add support for Heroku"

[2018-11-19 19:21] karldahlgren opened #93 "Add support for hheroku"

[2018-11-19 19:36] karldahlgren commented on #92
Done

[2018-11-19 19:36] #92 closed

[2018-11-19 19:55] karldahlgren commented on #89
Hi @milkotodorov.
Did you compile the project and tried it from there? The fix hasn't been released yet. The expected Content-Type should be be "text/plaincharset=UTF-8".

Best regards,
Karl Dahlgren

[2018-11-19 20:10] milkotodorov commented on #89
hi @karldahlgren,

yes - I did sync it and compiled the master branch. But the returned type is `text/xml;charset=ISO-8859-1`

[2018-11-19 22:38] karldahlgren opened #95 "Add support to load demo application on startup"

[2018-11-19 22:48] karldahlgren commented on #95
Done

[2018-11-19 22:48] #95 closed

[2018-11-21 20:10] karldahlgren opened #97 "Add Slack and Heroku integration for Travis"

[2018-11-21 20:15] karldahlgren commented on #97
Done

[2018-11-21 20:15] #97 closed

[2018-11-22 00:06] mhewedy commented on #90
Hi @karldahlgren,

I've done some basic implementation for `MongoRepository` which I think is the basic class here and which will require writting extensive unit testing.

Please review [this patch file](https://github.com/castlemock/castlemock/files/2606175/90._DB_Storage_plans_.mongodb.patch.zip) and let me know your feedback.

The next step is to writting extensive unit tests for `MongoReposito

[2018-11-26 12:01] HaloDG opened #99 "Bug wrong wsdl file is retrieved"

[2018-11-26 12:45] #99 closed

[2018-11-26 13:38] HaloSkyDG opened #100 "Wrong wsdl file is returned"
Dear castle-mock team,

I think that I found an issue.
I have a project with multiple ports. Each port was created with its own wsdl file.
If I try to access the wsdl of port x,a,z or w via the supported link, I'll receive the wsdl of port y every time.
That seems a little bit strange to me

Please see the attached files for further information

Best Regards
HaloSkyDG

[getNotification.txt](https:

[2018-11-26 17:47] karldahlgren commented on #100
Hi @HaloSkyDG.
Thank you for raising this issue. I will look into this issue shortly, but it should be fairly simply to resolve.

I will keep you posted!
Once again, thank you very much.
Best regards,
Karl Dahlgren

[2018-11-29 13:20] milkotodorov commented on #84
Hi @karldahlgren,

with version 1.33 we cannot delete any XPath defined anymore.
I think it is not an browser cache problem.

[2018-11-29 13:21] milkotodorov commented on #85
Hi @karldahlgren,

did you have the change to check this?

[2018-12-03 21:37] karldahlgren opened #101 "Add support for query string expression"
Add support to extract request query strings and apply them to the mocked response, similar to the path parameter expression.

The new expression will be called query string and function the same as path parameter expression.

Example
URL: /test?query=Hello
Expression: ${QUERY_STRING(query="query")}
Result: Hello

[2018-12-03 21:48] karldahlgren commented on #101
This feature has been implemented

[2018-12-03 21:48] #101 closed

[2018-12-04 11:19] mhewedy commented on #101
I didn't get the idea behind this issue. the whole ANTLR module is a black box to me. can you give a quick idea about how this part is used in the context of castle mock?

[2018-12-04 13:19] Honatas opened #103 "Mocked SOAP operation requesting access to real endpoint"
I have created a new SOAP project and imported the WSDL file. I have no access to the real endpoint of this service from my machine. I have created a response for one of the operations. The status of the operation is "Mocked". When I try to make a request to this mocked operation, Castlemock either tries to access or redirects to the real endpoint and fails. My java client throws an java.net.Unkno

[2018-12-04 21:32] karldahlgren commented on #103
Hi @Honatas.
That seems very odd. How do you call the SOAP service? Does your software retrieve the WSDL file from Castle Mock? Please note that Castle Mock will not alter the WSDL file in any way. This means that if the WSDL file is referring to the original host, your software might extract that URL and use that instead. In those cases you need to specifically override the WSDL endpoint URL in y

[2018-12-05 12:41] Honatas commented on #103
The WSDL contained the real endpoint URL. Overriding it in my code was not enough. To make this work I had to do the following:

1 - Create a new Castlemock project
2- Check the created project url to get the project ID
3- Build the new endpoint URL using the project ID and modify it in the WSDL
4- Upload the modified WSDL to the Castlemock project

This is not a Castlemock issue. Anyway, I'd sugg

[2018-12-08 18:16] mhewedy commented on #90
I think it is better to have different issues for different types of db support.

And leave this one for mongodb.

[2018-12-08 18:26] mhewedy opened #104 "REST: Error when mock responses if the there's no content type for produces per operation."
Hello Karl,

This line:

https://github.com/castlemock/castlemock/blob/05632ae6762c4537555c508c98ff05ed469ea484/code/web/mock/rest/src/main/java/com/castlemock/web/mock/rest/converter/swagger/SwaggerRestDefinitionConverter.java#L240

produces an exception if the produces for operations is null.
we can check for nullability before doing the iteration, and then it works fine.

And we can take the so

[2018-12-09 20:12] karldahlgren commented on #90
I agree @mhewedy.
We will close this one and open a new ticket if we need to implement another repository.

[2018-12-09 20:12] #90 closed

[2018-12-10 19:55] mhewedy commented on #100
I think mainly the issue here is that the `SoapResouce` is associated with the `SoapProject`.

To fix it, we need to associate the `SoapResouce` with `SoapPort`.

I think this change will affect all layers starting from web to repository layer.

[2018-12-12 11:38] mhewedy opened #106 "Allow testing of XPath/JsonPath expression"
When the user enters an XPath expression against a response, he usually goes to an online service that does the evaluation so he makes sure it is working fine before using in castlemock.

Today I've seen such feature part of JMeter, to evaluate the expression before using it.

Why not add such feature as a popup in castle mock.

I can send a PR If you like the idea.

[2018-12-12 22:05] CamiloCode commented on #63
@karldahlgren hi, is it possible to include that feature mentioned above? "The second question is very interesting. Do you mean that you map towards a particular field in the request body? We have support for this for SOAP, but not REST (See https://github.com/castlemock/castlemock/wiki/XPath). Is this what you were referring to?"

[2018-12-12 22:06] CamiloCode commented on #63
this is important as we are mocking REST services and we want to match those requests with identication id numbers and so on. I'll be glad if you can include this a new version

[2018-12-12 22:07] #103 closed

[2018-12-12 22:12] karldahlgren commented on #63
Hi @CamiloCode.
Thank you for bringing this to my attention again. Unfortunately, it had slipped my mind. My apologies. I can create a new ticket for this issue and refer back to this one. I agree that this feature would be very helpful. Unfortunately, implementing this might be little more tricker than how it is done for SOAP, but not impossible.

Thank you once again. I will prioritize this issu

[2018-12-12 22:16] karldahlgren opened #107 "XPath (or similar) response strategy for REST"
Add support for XPath (Or something similar) response strategy for REST. See issue #63 for further information.

[2018-12-12 22:18] mhewedy commented on #107
JSON Path might work with JSON-based reset services.

[2018-12-12 22:18] karldahlgren commented on #106
I love the issue @mhewedy.
Sounds like a great improvement! Looking forward to see what you come up with 😄

[2018-12-12 22:19] CamiloCode commented on #107
thanks for creating the ticket @karldahlgren

[2018-12-13 07:09] mhewedy commented on #100
@karldahlgren
I did a quick analysis of this issue, and I found here's a purposed solution:

1. reference the port Ids inside the resource object.
2. when deleting a resource before creating (cleanup process).. search not only by project id  but also by project id and port id (already saved in step 1).
3. when saving a port, do reference the resource id that belongs to it.
4. modify the get-wsdl m

[2018-12-15 03:32] tiagoguimaraesss commented on #107
Hello guys,

This improvement is very useful. When working with Rest Services, it is very common to have something like:

**POST myrestapi/doLogin**
Payload:
`{
      "username": "tiagoguimaraesss",
      "password": "123456"
}`

Castle Mock currently does not support this type of operation.

Best regards!

[2018-12-17 12:53] tiagoguimaraesss opened #108 "NumberFormatException when set a String or clear field in networkDelay (minor)"
**Describe the bug**
NumberFormatException when set a String or clear field in networkDelay.

**To Reproduce**
**Given** i go to Rest method update
**When** i set networkDelay to String or clear the field (Ex.: Test)
**And** apply the changes (click on "Update method")
**Then** an exception is showed to user.

**Expected behavior**
It would be interesting to show an error message to the user or bl

[2018-12-18 13:44] Honatas commented on #100
Actually the client always retrieves the wsdl prior to making calls to any service. This makes a multi-port project completely useless. I have a set of ports I could group under the same project to make it easier to import / export, but I just can't because of this bug.

[2018-12-18 13:49] Honatas commented on #20
Not only dates, apparently all columns in all grids are not sorting correctly. This makes everything harder, from registering a new reponse for a service (finding the service is complicated) to check logs (not ordered by date-time).

[2018-12-25 09:01] keroberos99 commented on #84
I found same problem,
it come from script onclick for delete that generated when create new xpath with single-quote contained. (ex **//path/detail/field[text()='expected']** )
after fix that code in  "xpathTable.js", the new xpath with single-quote can remove properly.

[2018-12-26 22:08] karldahlgren commented on #108
Thank you @tiagoguimaraesss for raising this issue. I will take a look at it as soon as I can.

Best regards,
Karl Dahlgren

[2018-12-26 22:09] karldahlgren commented on #84
Hi @keroberos99.
Thank you so much for finding this. I will fix this as soon as I can. It will be part of the next release.

Best regards,
Karl Dahlgren

[2019-01-01 14:58] karldahlgren commented on #107
Added support for both XPath and JSON Path. This will be part of the next release.

Best regards,
Karl Dahlgren

[2019-01-01 14:58] #107 closed

[2019-01-01 15:17] karldahlgren commented on #70
Unfortunately, I have been able to reproduce this issue. I will close it and re-open it if it occurs again. Thank you for understanding.

Best regards,
Karl Dahlgren

[2019-01-01 15:17] #70 closed

[2019-01-01 15:18] #69 closed

[2019-01-01 23:11] karldahlgren commented on #108
This makes me very happy to hear @tiagoguimaraesss.
Thank you very much! Great start for 2019!

Once again, thank you for creating the ticket. Don't hesitate to contact me if you need any support or experience any other issues.

Happy new year!

Best regards,
Karl Dahlgren

[2019-01-03 20:42] karldahlgren commented on #84
Hi everyone.
This issue has now been resolved and will be part of next release.
Sorry for talking such a long time.

Best regards,
Karl Dahlgren

[2019-01-03 20:42] #84 closed

[2019-01-28 22:17] karldahlgren commented on #101
Thank you so much @kyleshrader for point this out.
I have now added it to the documentation.

Best regards,
Karl Dahlgren

[2019-02-06 16:04] anaperaita opened #113 "Unable to delete XPaths filters in SOAP operation"
**Describe the bug**
When I import a previously exported SOAP project and I try to delete any Xpath I can't

**To Reproduce**
1.  Create a SOAP Project
2. Create one response that filters the requests using xpath
3. Export the project
4 Import the project (in another instance of castlemock)
5 Try to delete the previously created Xpath in the exported project

**Expected behavior**
A clear and conc

[2019-02-06 16:40] mhewedy commented on #113
Why not just send a PR?

[2019-02-06 21:58] karldahlgren commented on #113
Hi @anaperaita.
Thank you for reporting this bug. I will take a look at it as soon as possible. Most likely sometime during this weekend :)

Best regards,
Karl Dahlgren

[2019-02-10 14:54] mhewedy opened #114 "Allow bypass SSL Handshake"
**Is your feature request related to a problem? Please describe.**
Yes, one of my college try to mock service with invalid https certificate

**Describe the solution you'd like**
Add some option (cli startup option for sake of simplcity) to allow this

**Describe alternatives you've considered**
import the SSL certificate in castlemock java's keychain ... Ouch very boring 😞

What do you think Karl

[2019-02-10 20:54] karldahlgren commented on #114
Hi @mhewedy.
I haven't mocked a service with an invalid https certificate, but I can imagine that Java's default behavior is to fail upon this. I agree that it would be nice to add this as a feature option. The current workaround is to simply add the certificate to their Java keychain.

Have you thought about any solution for how to disable the certificate check?

Once again, great idea!
Best rega

[2019-02-10 20:56] mhewedy commented on #114
Yes.. and I have it ready... I will send PR soon, please review it and let's discuss about it.

[2019-02-10 20:57] karldahlgren commented on #114
Excellent! Looking forward to see it 😄

[2019-02-17 07:51] karldahlgren commented on #113
Hi @anaperaita.
Thank you once again for raising this issue. Unfortunately, I haven't been able to reproduce this issue. This was a bug that was resolved in 1.34. I'm wondering if your browser might have cached the old JS file. Would it be possible for you to try to do a hard refresh on the page and see if that helps?

Thank you.
Best regards,
Karl Dahlgren

[2019-02-17 18:48] #114 closed

[2019-02-17 19:35] karldahlgren commented on #114
The feature is now part of Castle Mock 1.36 which has now been released and is available on https://castlemock.com and Docker.

[2019-02-17 19:40] mhewedy commented on #114
Thank you very much @karldahlgren , much appreciated 😄 👍

[2019-02-18 04:46] ishwaryaAug commented on #63
currently i am using castlemock 1.36 version...in that i am trying to mock the response based on query param..as  you stated earlier i am unable to find the query param mock response view in Rest Method update view.
it would be help full if u give has step by step guide to setup mock response for rest service.

<img width="912" alt="updatemtdview1" src="https://user-images.githubusercontent.com/25

[2019-02-18 06:12] karldahlgren commented on #63
Hi.
Query parameters are defined in the URL in the following manner: /{param1}/{param2}.
Instead of having the actual value, you use these in the URL. We have an example in our test application: https://castlemock.herokuapp.com/web/rest/project/EqbLQU/application/QLP2Nk/resource/WgO9j8

Standard username and password. The application is in demo mode, which means you can't modify any values, but yo

[2019-02-18 06:54] ishwaryaAug commented on #63
thx Karl..it is working fine.if i am using the url in following manner :/{param1}/{param2}. query param mock response tab is viewable and i can able to get the mock response based on the path param value.
but i am using the url in the following pattern **?userId=ABCD0011**,in this case i am not able to acheive response as expected.
is there any configuration i m missing.please let me know.

[2019-02-18 10:19] ishwaryaAug commented on #3
hi Karl,
can you please provide some sample to implement jms mock service.

[2019-02-19 16:03] karldahlgren commented on #63
Hi @ishwaryaAug.
Unfortunately, we don't have support for query string as a response strategy today. However, this is something we have considered adding and can add if it is requested. Is this something you would like us to add support for?

Thanks!

Best regards,
Karl Dahlgren

[2019-02-20 04:24] ishwaryaAug commented on #63
Hi Karl,

It would be great if you include it in your upcoming version.

thanks!!

[2019-02-25 09:42] ideonvanniekerk opened #116 "Query parameters with underscores not being resolved in expressions"
**Describe the bug**
Query parameters with underscores not being resolved in expressions.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup a sample REST project
2. In response configure it to print out path param with underscore like ${QUERY_STRING(query="user_name")}
3. Invoke url with path parameter like test?user_name=Ideon
4. See how response does not print out parameter

**Expected

[2019-02-26 19:24] karldahlgren commented on #116
Hi @ideonvanniekerk.
Thank you for reporting this issue. I've been able to reproduce the issue and hopefully it should be easy to resolve. I will work on a fix during the weekend and do a new release at the same time.

Once again, thank you very much.
Best regards,
Karl Dahlgren

[2019-02-27 15:09] ideonvanniekerk commented on #116
Awesome, thanks.

Looking forward to it being fixed.

[2019-03-03 13:15] karldahlgren commented on #116
This issue has now been resolved and will be part of the next release.
Thank you once again for reporting this.

Best regards,
Karl Dahlgren

[2019-03-03 13:15] #116 closed

[2019-03-03 13:16] karldahlgren commented on #113
Closing this since we were able to reproduce this on a later version. The issue should have been resolved.

Best regards,
Karl Dahlgren

[2019-03-03 13:16] #113 closed

[2019-03-03 22:15] karldahlgren commented on #116
The fix is part of the latest release that was just released. It is available on Github, our webpage and on Docker.

Best regards,
Karl Dahlgren

[2019-03-04 07:00] ideonvanniekerk commented on #116
That is great, thanks @karldahlgren that is good news. I am sure to test this out today.

A+++ for castlemock as a mocking tool!

[2019-03-04 09:27] saiello opened #119 "LDAP identity provider"
Whould be useful integrate LDAP as identity provider to avoid manual insert of users.

[2019-03-04 09:33] saiello opened #120 "Resource bulk update does not work"
**Describe the bug**
Bulk update does not work properly

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Project > Application'
2. Check some resources
3. Change select ( ie. From Mocked to Disabled )
3. Click on 'Update'
4. All resources will be update

**Expected behavior**
Only checked resource should be updated

[2019-03-04 21:31] karldahlgren commented on #120
Hi @saiello.
Thank you for the bug report. I will take a look at it as soon as I can 😄
Should be an easy fix. If so, then I can prepare a new release right away.

Best regards,
Karl Dahlgren

[2019-03-04 21:34] karldahlgren commented on #119
Hi @saiello.
I have been waiting for this to come up and now day has finally arrived. This should be rather straight forward. We can either allow to configure Castle Mock LDAP directly or we can allow Castle Mock to use the Tomcat Realm. Or maybe both solution could be good. I will look into how we could add support for this.

Best regards,
Karl Dahlgren

[2019-03-04 21:36] karldahlgren commented on #116
Great to hear @ideonvanniekerk!
Don't hesitate to report other bugs or request features or improvements. All feedback is very much appreciated 😄

Best regards,
Karl Dahlgren

[2019-03-05 05:41] mhewedy commented on #119
@karldahlgren currently castlemock is secured using spring security, so I think spring security support for ldap will be more convenient than of tomcat.

[2019-04-02 16:25] CamiloCode opened #121 "Adding ports and operations SOAP"
In order to create data dynamically "Mocked" , I see an endpointd "POST" for creating  a whole project
/api/rest/soap/project/{projectId}/resource/{resourceId}/import
Import resource

But I believe it would be helpful if I could add a specific port to a project and also an operation.
a good start would be SOAP projects but also cool if it could be enhanced to REST

Thanks!

[2019-04-02 18:48] karldahlgren commented on #121
Hi @CamiloCode!
Thank you for raising this! I agree with and the plan has been to continue to expand the REST API.
As soon as I'm starting to get some time over, I will jump on this and implement the basic operations (Read, create, update and delete).

I will keep you updated regarding this.
Best regards,
Karl Dahlgren

[2019-04-10 09:21] milkotodorov commented on #90
Thanks for the MongoDB support. Is there any doc how to enable it?

[2019-04-10 13:24] milkotodorov commented on #66
Hi, did you has the change to look into this?

[2019-04-10 13:24] milkotodorov commented on #77
Hi, did you has the change to look into this?

[2019-04-10 13:24] milkotodorov commented on #85
Hi @karldahlgren,

any updates?

[2019-04-10 13:25] milkotodorov commented on #89
hi @karldahlgren, something new here?

[2019-04-13 10:59] karldahlgren commented on #89
Hi @milkotodorov.
I was unfortunately unable to reproduce this issue. So no luck so far. I don't know what steps we can take from here unfortunately. I will give this another shot and see if I can reproduce it.

Best regards,
Karl Dahlgren

[2019-04-13 11:00] karldahlgren commented on #85
Hi @milkotodorov.
Sorry for the late answer. I haven't been able to resolve this issue yet. It is quite complexed and way harder to solve and I originally thought it would be. I hope that I will be able to look into this as soon as possible.

Best regards,
Karl Dahlgren

[2019-04-16 17:50] karldahlgren commented on #90
Hi @milkotodorov.
Sorry for the late response. I haven't configured the MongoDB for a while, but last I looked it was configured the following way:

[code]

I will try to set this up as soon as I get some spare time.
Best regards,
Karl Dahlgren

[2019-04-18 14:15] iamthewind opened #122 "SOAP request with CDATA cannot be checked with XPATH"
**Describe the bug**
SOAP request with CDATA cannot be checked with XPATH

**To Reproduce**
SOAP request is like
<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:gps="http://xx.es/si/gps">
   <soapenv:Header/>
   <soapenv:Body>
      <gps:getProduct>

         <userId>X</userId>
         <password>X</password>
         <productCode>xxx/productCode>
         <produc

[2019-04-18 14:16] iamthewind commented on #122
`<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:gps="http://services.informa.es/si/gps">
   <soapenv:Header/>
   <soapenv:Body>
      <gps:getProduct>

         <userId>XXX</userId>
         <password>XXX</password>
         <productCode>XXX</productCode>
         <productVersion>1.2</productVersion>
         <parameters>

            <parameter name="datos_petic

[2019-04-18 18:04] karldahlgren commented on #122
Hi @iamthewind.
Thank you for reporting this issue. I will look into it as soon as I can.
I will keep you posted.

Best regards,
Karl Dahlgren

[2019-05-19 20:45] karldahlgren opened #123 "Add new expression for extracting and using content from JSON request"
Add new expression for extracting and using content from JSON request.

[2019-05-24 20:11] leandrocharlier opened #124 "Add expression for extracting header from JSON request"

[2019-05-29 09:45] DarwinOnLine opened #126 "Update web configuration for Castlemock app"
When I have an heavy project with large mocked responses, if I want to import them later, I have this error :

So a upload size limit set to 1M, that is a little weak.

I would like to add some tomcat configuration to set that from docker-compose or Dockerfile, how to do that ?

[2019-05-30 08:49] karldahlgren commented on #126
I agree @DarwinOnLine.
I considering to change the default limit. What is the size of your project?

Thanks!
Best regards,
Karl Dahlgren

[2019-05-31 06:55] DarwinOnLine commented on #126
About 10M+, we cannot set this limit ourselves ?

Best regards

[2019-05-31 10:17] #124 closed

[2019-06-01 13:45] karldahlgren commented on #120
This bug has been resolved and will be part of next release.

Best regards,
Karl Dahlgren

[2019-06-01 13:45] #120 closed

[2019-06-01 18:53] karldahlgren commented on #123
This new expression has been implemented and will be part of the next release. See the wiki page for further information.

[2019-06-01 18:53] #123 closed

[2019-06-01 20:54] karldahlgren commented on #126
Hi @DarwinOnLine.
The default value can be configured by providing the following properties:

	spring.servlet.multipart.max-file-size=10MB
	spring.servlet.multipart.max-request-size=10MB

I have updated the default value for future Castle Mock releases to be 20MB. I have also made it possible to easily override the max file size by providing the following property instead of overriding two propert

[2019-06-01 20:54] #126 closed

[2019-06-01 21:51] karldahlgren commented on #124
Hi @leandrocharlier.
I have a question. I was looking closer at your pull request and I had a question. Do you have JSON in your headers? If not, would it be possible to change the RestParameterHeaderExpression to look more like RestParameterQuery.

However, if you do have JSON in your headers and need to parse the JSON information in the headers, then that makes sense. However, in that case I wou

[2019-06-01 22:16] leandrocharlier commented on #124
Hi @karldahlgren.
No, I don't have JSON in my headers, you're right, it should look more like RestParameterQuery,
Do I make that change and do another pull request?
Regards!
Leandro Charlier

[2019-06-01 22:19] karldahlgren commented on #124
Hi @leandrocharlier.
Cool! No need, I can do it tomorrow. Should be very minor changes. I was thinking about porting the functionality to SOAP project as well 😄
I just wanted your confirmation 😄

Once again, thank you so much.
Best regards,
Karl Dahlgren

[2019-06-01 22:22] karldahlgren commented on #124
Is that fine with you @leandrocharlier?
If you really wanna do it then I won't stop you 😄

Best regards,
Karl Dahlgren

[2019-06-01 22:27] leandrocharlier commented on #124
Hi @karldahlgren.
It's okay for me, thanks for doing it, anything you need, let me know :)

Regards!
Leandro Charlier

[2019-06-07 14:54] jorgeagarzone opened #130 "Expressions in REST project not working v 1.37"
**Describe the bug**
According https://castlemock.com/expressions/ I can use expressions in REST projects, but is not working in docker version 1.37

**To Reproduce**
Steps to reproduce the behavior:
1. Pull docker image 1.37
`docker pull castlemock/castlemock:1.37`
`docker run -d -p 9000:8080 -v $(pwd):/root/.castlemock --name castlemock castlemock/castlemock:1.37`
2. Create rest project, applica

[2019-06-07 15:51] karldahlgren commented on #130
Hi @jorgeagarzone.
I can see that you haven’t enabled expressions on the mock page. Check the checkbox “Use expressions”, save and try again. I hope it helps.

Best regards,
Karl Dahlgren

[2019-06-07 16:33] jorgeagarzone commented on #130
I am just blind and had not seen the checkbox , jejejej thanks man.

[2019-06-07 16:33] #130 closed

[2019-06-07 16:36] karldahlgren commented on #130
Haha, no problem.
Feel free to create another issue if you get blind again and need some support =)
Good luck!

Best regards,
Karl Dahlgren

[2019-07-03 12:22] ishwaryaAug opened #132 "unable to upload the wsdl :: error :: Unable to find operation output"
hi,
when i try to upload the wsdl file, i m getting below error
"ERROR: com.castlemock.web.mock.soap.web.view.controller.project.SoapAddWSDLController - Exception: java.lang.IllegalArgumentException: Unable to find operation output"

it is valid wsdl file which is currently wrking.

kindly help on this

[2019-07-03 13:46] #132 closed

[2019-07-03 13:48] ishwaryaAug commented on #132
problem with wsdl which i was using... after using corrected wsdl ,i can able to upload.
thanks anyway.

[2019-07-03 15:13] thulasipavankumar opened #133 "Header and Query filed in query parameter , how to"
This is more of a **help wanted** or guidance.I am playing around castlemock and my requirement is to send dynamic response based on query parameters,after stumbling upon I am unable to under stand difference between header and query fields in the method
![image](https://user-images.githubusercontent.com/3539745/60603078-57408b80-9db5-11e9-8bbd-6674d4be18ec.png)

P.S Thanks for the great project i

[2019-07-04 17:49] karldahlgren commented on #133
Hi @thulasipavankumar.
My apologies for the late response. The header input field is specifying the name of the header, such as accept or content-type. The Query is just a simple input which the value of the incoming header needs to match.

Example:
Header: Content-Type
Query: application/json

If you check "Match Any", then the query will match any input.
If you check "Match Case", then the value

[2019-07-04 17:50] karldahlgren commented on #132
Good to hear that you managed to resolve the issue @ishwaryaAug.
Don't hesitate to contact again if you have any further questions or problems.

Best regards,
Karl Dahlgren

[2019-07-04 21:28] Tomislav-Dedus opened #134 "Possibility for securing REST Mocks with basic authentication"
First of all - very nice work and project!

I have to mock several REST Services that are secured wtith basic authentication. Is it now or in the future possible to make that work?
I know I can simulate that with the use of the response strategy <header query match> and an <Authorization> header like <Basic dGVzdDpwYXNzd29y> as query.

But then I have to use this response strategy anytime and coul

[2019-07-04 21:38] karldahlgren commented on #134
Hi @Tomislav-Dedus.
Thank you for a great question. I just replied your email, but we can continue the conversation here. Might be easier.

I will copy-paste my email response to you here:
Interesting question. My initial answer would be to use the header query strategy, but that would mean that you wouldn't be able to use other strategies (Just like you mentioned).
We could add the option that a

[2019-07-05 06:44] Tomislav-Dedus commented on #134
Thanls for your quick response.
Yeah, an option for enabling authentication would be quite nice. In that case your free using other response strategies and don't have to care about checking the Authorization header yourself.

Have you a timeline in mind for making this enhancement happen?

[2019-07-05 09:27] #133 closed

[2019-07-22 07:10] boo2311 commented on #63
Hi saiello/Karl Dahlgren,
                                       I have a GET service which needs the response to be mocked based on the query String parameter. My URL is like "/rest/scbFMFXRates/v1/rs/getRates?country={country}&buyCurrency={buyCurrency}". I have created a mock response with Response Strategy as "Query Match" with buyCurrency as response parameter and attached the screenshot . But

[2019-07-22 07:48] castlemock commented on #63
Hi!
In this case you have two parameters that needs to be matched to return a mocked response. Try to include country query and set it to match any. In this case country will be matched to any and buyCountry will mainly be used to determine which mocked response should be returned.

I hope this helps.
(Btw, I’m currently out traveling so the response time might vary at times)

Best regards,
Karl D

[2019-07-23 07:21] boo2311 commented on #63
Hi Karl,
            As you suggested, i have configured the query parameters and the service is working fine now. But i have an issue further and a feature(enhancement) for you to look into.
Issue:
Once i created the mock response with query parameters and response body, it is working as expected. But after sometime if i want to change any value in the response body and update the response, the q

[2019-08-29 16:23] WilliamCSA04 opened #135 "Upload soap"

[2019-08-29 16:32] WilliamCSA04 commented on #135
Miss created.

[2019-08-29 16:32] #135 closed

[2019-08-29 16:44] WilliamCSA04 opened #136 "Can't upload a SOAP"
Hello, I'm having a problem.
I'm trying to use [this wsdl](http://webservices.society.net.br/139/operacoes/Society-ws-139-operacoes-jogos.WSDL) as a SOAP API.

![error](https://user-images.githubusercontent.com/12972870/63959186-ff936900-ca61-11e9-94e0-7a2fd7b45ed5.png)

- I created a project, then when into upload WSDL.
- Added [this wsdl](http://webservices.society.net.br/139/operacoes/Society-w

[2019-09-01 19:30] karldahlgren commented on #136
Hi @WilliamCSA04.
My apologies for the late response. I have been looking into this issue and your WSDL. However, I haven't been able to locate or solve the problem yet. I will keep looking into the problem and keep you updated. Just wanted to inform you to let you know that I haven't forgotten or missed this issue 😄.

Best regards,
Karl Dahlgren

[2019-09-10 21:51] CamiloCode commented on #121
hi @karldahlgren any chance to work on this ? :) it would be really interesting to have this feature.

[2019-09-15 14:31] karldahlgren commented on #121
Hi @CamiloCode.
Sorry, I haven't been able to find time to implement this yet. However, I will try to priorities in the following week.

Thank you for understanding.
Best regards,
Karl Dahlgren

[2019-10-01 16:25] GrumpyMeow opened #137 "ERR_CONTENT_DECODING_FAILED gzip encoding"
Hi,

just trying out Castle-Mock.
I noticed that Chrome gave errors about "ERR_CONTENT_DECODING_FAILED".
Apparently it has got something to do Content-Encoding repsonse header which was set to "GZIP", but Castle Mock was returning the response without compression.
An OOTB solution would make the tool even better :-)

thank you for providing the tool.

[2019-10-02 10:22] GrumpyMeow opened #138 "CORS pre-flight options not handled by controller, but by Spring"
I'm pretty sure that the pre-flight options request is not handled by the controller.

This seems to be a solution:
https://stackoverflow.com/questions/35982266/how-can-i-convince-spring-4-2-to-pass-options-request-through-to-the-controller

public class CorsNoopHandlerMapping extends RequestMappingHandlerMapping {

    public CorsNoopHandlerMapping() {
        setOrder(0);  // Make it override th

[2019-10-02 20:12] karldahlgren commented on #138
Hi @GrumpyMeow!
Thank you so much for raising this issue and finding a solution. Makes everything so much easier 😄. I will look into this more tomorrow. Hopefully the suggested fix will work.

Best regards,
Karl Dahlgren

[2019-10-02 20:15] karldahlgren commented on #137
Hi @GrumpyMeow!
Thank you for using it and for raising this issue. I will look into to it tomorrow together with your other ticket. I really appreciate it you creating these ticket and bringing these issues to my attention. Helps making Castle Mock better. Thanks!

Best regards,
Karl Dahlgren

[2019-10-04 16:56] GrumpyMeow opened #139 "Empty error message: Unable to find the default Query mock response with the following id:"
Hi,

When i'm recording requests i see in the output window the following error messages, but there was no actual error. I think a piece of code unneededly gets triggered.

[code]

[2019-10-04 16:57] GrumpyMeow commented on #137
I fixed it by making a small change in the file "AbstractRestServiceController.java".

The fix is simply omitting the "Content-Encoding" header from the response.

HttpHeaders responseHeaders = new HttpHeaders();
            for (HttpHeader httpHeader : response.getHttpHeaders()) {
                if (!httpHeader.getName().equalsIgnoreCase("Content-Encoding") ) {
                    List<String> h

[2019-10-04 17:07] GrumpyMeow commented on #138
Unfortunatly i was unable to get Spring to let the "Options" request be handler by the controller.
But with a simple change i was able to get it to work by having Spring return a valid response.

In MvcConfig.java i overridden the addCorsMappings function and hardcoded the origins i needed:
[code]

[2019-10-07 14:29] mbilinainteca opened #140 "Unable to parse request body when expression pints to single item"
I've encountered an error while I was trying to use Body JSON Path feature.
When path expression points to a single item instead of multiple items, returned type is String and it cannot be cast to JSONArray.

Request body:
{
  "definite": "value"
}

Path expression:
$.definite

[2019-10-08 20:37] GrumpyMeow opened #142 "Table "(Un-)select" all items (responses) in a table"
Hi,

In case of many recorded responses it would make it easier to select & delete multiple items at one time.

[2019-10-15 11:41] tharishreddy opened #143 "Unable to identify REST method, if url parts are same for both GET and POST methods"
**Describe the bug**
If we have the following REST urls
GET /api/user/{id}
POST /api/user/search

Sometimes, it's generating the error **Unable to identify REST method** for POST methods

Looks like there is a bug in identifying rest method logic.

Had a quick look into **IdentifyRestMethodService.java** which calls findRestResource (line 53), and it further uses UrlUtility.compareUri which result

[2019-10-18 13:33] caed opened #144 "Tomcat/Debian Start Castle Mock"
Good Morning.

For help, we created a "debian" Linux server in the Azure cloud, installed either Java and Tomcat, ran or deployed castle simulations.

We are having a problem trying to start or mock castles.

**_FAIL - Application at context path [/castlemock] could not be started
FAIL - Encountered exception [org.apache.catalina.LifecycleException: Failed to start component [StandardEngine[Catali

[2019-10-18 19:09] karldahlgren commented on #144
Hi @caed.
Of course I will support you as much as I can 😃.
Could you provide which Java version and Tomcat version you are using so that I can try to reproduce the issue?

Thank you very much!
Best regards,
Karl Dahlgren

[2019-10-18 20:41] caed commented on #144
Oi @karldahlgren, obrigado pela ajuda.

Descobri a causa raiz do problema, quando for subir no linux, a pasta tomcat deverá estar com o user/group do tomcat, e não como root ou outro usuario.

Após alterar o dono da pasta a aplicação funcionou.

Obrigado.

[2019-10-18 20:41] caed commented on #144
Hi @karldahlgren, thanks for the help.

I found out the root cause of the problem, when going to linux, the tomcat folder should be with the tomcat user / group, not as root or another user.

After changing the folder owner the application worked.

Thank you very much!
Carlos Eduardo.

[2019-10-19 07:15] karldahlgren commented on #144
Great to hear! Closing this issue.

Best regards,
Karl Dahlgren

[2019-10-19 07:15] #144 closed

[2019-10-22 18:13] caed opened #145 "Castle Mock - IP Private"
Boa tarde queridos.

Tenho um servidor no azure, rodando com Linux Debian, subi o castle mock, porem ao importar um wsdl ele gera o adress com o ip privado e nao com o publico, ao tentar subir o wsdl no soapUI, o mesmo nao reconhece, preciso alterar para o IP Public manualmente.

Seria possivel alterar automaticamente, quando eu criar um novo projeto subir com o IP Public.

[2019-10-22 18:13] #145 closed

[2019-10-28 08:07] miniyk2012 commented on #140
i also found this bug

[2019-10-29 13:58] house-md commented on #138
@karldahlgren How does it look with release for CORS support. We would like to use castle mock also for our front-end applications. Thank you

[2019-10-29 20:04] rcouto-cit opened #146 "Configure CastleMock Docker on Azure"
It isn't possible to use the default CastleMock base directory on Azure given it has a . (dot) before the directory name.

It should be possible to define a different base directory to avoid situations where paths like /{path}/.castlemock are undesirable.

There is a reason to give the main directory this name? Could I open a pull request changing this feature?

Thanks.

[2019-10-29 23:00] Maran123 opened #148 "Performance issue when working with encoded files"
**Describe the bug**
When adding a mock response containing encoded files roughly 500kb in size, web interface becomes almost unworkable and after 1,5mb it crashes. At least on the default docker image.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a mock response to a web-service.
2. In the response body, add a large enocoded file ex: [big.txt](https://github.com/castlemock/castlem

[2019-10-29 23:01] karldahlgren commented on #143
Hi @tharishreddy
My apologies for the late response. I started looking into this issue and I can confirm that you are absolutely right. I'm currently working on a solution. I will keep you posted.

Thank you very much for reporting this.
Best regards,
Karl Dahlgren

[2019-10-29 23:05] karldahlgren commented on #148
Hi @Maran123.
Thank you for reporting this issue. My guess is that the JVM default setting is set too low which causes the application to crash when importing larger files. I will try to reproduce this issue and see if the problem disappears when increasing the memory.

Thank you once again.
Best regards,
Karl Dahlgren

[2019-11-02 16:04] karldahlgren commented on #140
Issue has been resolved and will be part of the next release (1.40)

[2019-11-02 16:04] #140 closed

[2019-11-02 21:08] karldahlgren commented on #143
This issue has been resolved and will be part of the next release, 1.40.

Best regards,
Karl Dahlgren

[2019-11-02 21:08] #143 closed

[2019-11-02 21:13] karldahlgren commented on #139
Hi @GrumpyMeow.
My apologies for the late response. Time flies.
This issue occurs when a method is configured to have a default mocked response, but we are not able to find any mocked response with that provided id. This could occur when a mocked response has been removed but the method still has the old id.

It is perhaps a little bit too much to log this as an error. Will fix this right away.

T

[2019-11-02 21:13] #139 closed

[2019-11-02 22:22] karldahlgren commented on #137
Thank you so much for pointing this out @GrumpyMeow.
The issue should now have been resolved. Will be part of the next release (1.40).

Best regards,
Karl Dahlgren

[2019-11-02 22:22] #137 closed

[2019-11-03 00:08] karldahlgren commented on #146
Hi @rcouto-cit.
My apologies for the late response.
Unfortunately, I believe it might be quite hard to customize this with the official Docker image. However, the default directory is configurable by overriding the following property: base.file.directory.

    Example: --base.file.directory=${user.home}/MyCustomPath

You could provide your own property and configure the directory, but then I belie

[2019-11-03 00:10] karldahlgren commented on #148
Hi @Maran123.
I'm currently investigating this issue. I'm able to reproduce the issue.
It seems that the root cause of the problem is that Tomcat isn't configure to allow request of that size. I'm trying to override this limit, but haven't been successful.

I will continue my investigation and keep you posted.

Best regards,
Karl Dahlgren

[2019-11-03 00:12] karldahlgren commented on #142
Hi @GrumpyMeow.
I like the idea! However, I'm trying to minimize the work being done on the current interface. The plan is to completely reproduce the current UI with a modern framework. In this process, I will do these kind of improvements.

I hope that I get time to implement the new UI as soon as possible.

Best regards,
Karl Dahlgren

[2019-11-03 06:44] GrumpyMeow commented on #142
Hi Karl,

I completely understand that you make decisions to focus. I created this issue as a suggestion for improvement. No problem. I will close this issue.

[2019-11-03 06:44] #142 closed

[2019-11-14 01:48] edwin opened #152 "Unable to Run Castlemock on top of Openshift"
**Describe the bug**
As the title describe, im running castlemock on top of docker and deployed it on Openshift. It gives this error,

[code]

Perhaps issue happen because by default, Openshift gives a random userid as enforced by its default security policy.  And somehow Castlemock is unable to create a default filesystem folder due to it.

Question : Is there any way to make filesystem's folder

[2019-11-14 06:13] edwin commented on #152
yups, got the root cause,

`base.file.directory=${user.home}/.castlemock`

[https://github.com/castlemock/castlemock/blob/master/app/src/main/resources/file-repository.properties#L5](url)

injecting base.file.directory on tomcat runtime directly solve my problem,
[code]

😄

[2019-11-14 07:44] mhewedy commented on #152
I just want to add a couple of things,
You can base your docker find on [castlemock ](https://hub.docker.com/r/castlemock/castlemock/)image
And, there's a MongoDB support you might need to use for cluster environment

[2019-11-14 11:31] edwin commented on #152
hi @mhewedy
yes you are correct. For most cases, extending castlemock image is sufficient enough

[2019-11-19 14:19] GrumpyMeow opened #153 "ERROR: com.castlemock.web.basis.support.HttpMessageSupport - Error occurred when extracting HTTP response body"
Hi,

I use CastleMock to isolate my containerized environment from testing-environments. I do this with forwarding webapi requests from a containerized application to a testing-environment. This works quite well for most of the WebApi's until now.

on a specific WebApi i get the following exception:
[code]

I suspect it has to do with a specific response-headers to be present:
[code]

[2019-11-19 14:30] GrumpyMeow commented on #153
I think the issue is that "characterEncoding" is null.
[code]

[2019-11-21 14:54] Maran123 commented on #148
Hi Karl!

Thanks, I've done some digging and setting maxPostSize="10000000" in conf/server.xml fixes the crashes. But it does not fix the "sluggish" UI.

From my limited understanding the UI seems to be redrawn a lot(?) I'm uploading my profile.json (Firefox performance tab)

[profile.json.txt](https://github.com/castlemock/castlemock/files/3875239/profile.json.txt)

[2019-11-22 19:41] GrumpyMeow commented on #153
#154

[2019-11-25 08:50] anagori opened #155 "Unable to extract the SOAP body"
Dear Team,

We mocked a SOAP HTTP 1.1 service over castle mock v1.39, We get below error in case I do not use the same namespace tag for body as the soap envelope. Any fix on same is highly appreciated.

**//error-response>
   error-message>Unable to extract the SOAP body</error-message
</error-response//**

**Requests work fine using :-**
<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.or

[2020-01-07 07:56] anagori commented on #155
Anyone can help with this please... Or need more info...

[2020-01-07 17:53] karldahlgren commented on #155
Hi @anagori.
Sorry for the late response here.
The reason why the second request is failing is that you are referring to "soap" in soap:Body. However, you have never declared the soap namespace in the second request. If you look at the first request you can see that you are referring to soapenv, which has been declared in the request.

I hope you find the helpful.
Best regards,
Karl Dahlgren

[2020-01-07 17:53] #155 closed

[2020-01-09 13:41] praveenkumar466 commented on #49
Could you please give me the rest api for import rest xml into the latest version of castlemock

[2020-01-09 13:42] praveenkumar466 opened #156 "We need Rest API to import project of type REST into castle mock"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-01-09 22:16] karldahlgren commented on #156
Hi @praveenkumar466.
The REST API already provides a service to import projects into Castle Mock. Please see the following service: http://localhost:8080/castlemock/swagger-ui.html#/Core/importProjectUsingPOST

Best regards,
Karl Dahlgren

[2020-01-09 22:16] #156 closed

[2020-01-15 07:10] anagori commented on #155
Thanks Karl... But I see that in second request as well the namespace has been declared implicit within the tag. And I tested same with SOAP UI mock it works good but not with Castle Mock. Can you help further.

<**soap**:Body **xmlns:soap**="http://schemas.xmlsoap.org/soap/envelope/">

[2020-01-17 13:23] fcrbe opened #157 ""Forwarded" working, but "Recording" or "Record once" is not"
When I put a port on "Forwarded", it is working properly. However, when switching the status to "Recording" or "Record once", I get a response body with:

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<error-response/>

Nothing else changes though (using postman to send the request, request body & headers remain the same).

Any specific place where I could start digging in?

[2020-01-18 16:55] karldahlgren commented on #157
Hi @fcrbe.
Thank you so much for finding and reporting this issue. The problem occurred when trying to create new mocked responses when using the recording mode. This issue seems to have been introduced quite recently. Nice catch!

The fix will be part of next release and I will prepare a new release before the end of this week.
Once again, thank you so much for reporting this.

Best regards,
Karl

[2020-01-18 16:55] #157 closed

[2020-01-18 17:38] karldahlgren commented on #155
Hi @anagori.
You are absolutely right. My mistake. Sorry for missing it.
I was able to reproduce the issue and I have also managed to resolve it.
The fix will be part of the next release which will be released tomorrow.

Once again, thank you reporting this issue and my apologize for missing it.
Best regards,
Karl Dahlgren

[2020-01-20 13:39] adlet-nyussupov opened #160 "Error - Project import doesn't work"
Hi!

I have faced a weird error that is related to project import feature. When I try to import the project, it gives me the following error:

[code]
Please help, because there were a lot of mocked data!

[2020-01-20 20:17] karldahlgren commented on #160
Hi @adlet-nyussupov.
Sorry to hear about this. Let's see if we can fix this. Could you elaborate more a little more your setup? Is it a REST or SOAP project? Are you importing the project through the Web UI or the REST interface? Which version are you using? Is it possible that you can provide an example of your project?

I tried to reproduce this issue but was unfortunately unable to do so.

Than

[2020-01-21 02:28] adlet-nyussupov commented on #160
It is the SOAP project. I used the Web UI on the initial "Projects" page. I've tried to export an empty project and import it again, but it brought me the same error. I enclosed the empty test project,
[web (1).zip](https://github.com/castlemock/castlemock/files/4088896/web.1.zip)

[2020-01-22 03:52] MuhamedMustang opened #161 "The responses that I create are deleted after restarting apache-tomcat-9.0.30"
After restart it is written:
No responses has been created for this SOAP operation. Click on the button "Create response" to create a new response.
When I start Tomcat:

ERROR: com.castlemock.repository.core.file.FileRepositorySupport - Unable to parse files for type SoapMockResponseFile
javax.xml.bind.UnmarshalException
 - with linked exception:
[com.sun.org.apache.xerces.internal.impl.io.Malform

[2020-01-22 06:57] karldahlgren commented on #161
Hi @MuhamedMustang.
Thank you for reporting this. We had a similar issue reported just the other day. Seems that something has happened with the import logic. Are you using special characters in your mocked responses? My guess is that it is unable to parse responses with special characters in them.

Thank you.
Best regards,
Karl Dahlgren

[2020-01-22 08:03] MuhamedMustang commented on #161
Hi @karldahlgren, Thanks for the answer, yes it is not imported if I use Russian letters.
Full stack trace:

javax.xml.bind.UnmarshalException
 - with linked exception:
[com.sun.org.apache.xerces.internal.impl.io.MalformedByteSequenceException: Invalid byte 2 of 2-byte UTF-8 sequence.]
        at javax.xml.bind.helpers.AbstractUnmarshallerImpl.createUnmarshalException(AbstractUnmarshallerImpl.java

[2020-01-22 08:14] adlet-nyussupov commented on #160
The problem is still remaining. After restarting the Tomcat all responses are disappeared. Deployment log shows the following error:

`RROR: com.castlemock.repository.core.file.FileRepositorySupport - Unable to parse files for type SoapMockResponseFile
javax.xml.bind.UnmarshalException
 - with linked exception:
[com.sun.org.apache.xerces.internal.impl.io.MalformedByteSequenceException: Invalid byt

[2020-01-22 09:39] MuhamedMustang commented on #161
@karldahlgren
I tried to import again.

Russian letters have nothing to do with it. Probably the problem is deserialization, some services are imported, some are not.
probably castle cannot deserialize complex xml files

[2020-01-22 16:33] CamiloCode commented on #121
@karldahlgren if you have some time, maybe you can tell me how can I start and I may be able to collaborate to expand this feature

[2020-01-22 20:18] karldahlgren commented on #161
Hi @MuhamedMustang.
I have also experienced this issue before. In fact, I could easily reproduce it this morning. However, I'm not able to reproduce it anymore. I haven't done any changes whatsoever. I'm quite confused regarding this issue.

@MuhamedMustang Are you able to reproduce this issue? If so, would it be possible for you to provide an example project that you have exported?

Thanks!
Best

[2020-01-22 20:25] karldahlgren commented on #121
Hi @CamiloCode.
Sorry that I haven't gotten around to do this feature. Time just seems to go so fast nowadays.
All help is very much appreciated.

The best way it to fork the project, clone it, open it in your IDE (I personally use Intellij IDEA) and modify the class "ReadMockResponseRestController" to take a PUT method as well

[2020-01-28 14:17] PascalNoisette commented on #42
Hi ! I wanted to check if castlemock supported graphql ... which led me here. Any plan to restart this enhancement ? Regards

[2020-02-12 14:29] GrumpyMeow opened #173 ""Update endpoint" does not respect checkboxes. Updates all forwarding endpoints."
I'm using a somewhat older version of Castle Mock.
When i select a few "Resources" with checkboxes and choose the button "Update endpoint" i do see a correct list, but eventually all Endpoints are updated with the new endpoint-value.

I expected that only the selected resources would be updated.

The issue is still in the latest master-branch..
In this code:
[code]

[2020-02-17 14:33] GrumpyMeow opened #178 "Add option to "Replace&Forward""
Hi,

I'm currently experiencing a specific situation during development where our application sends a request-message with an invalid body (missing field). Ofcourse this needs to be fixed, but...
If only Castle-Mock would've the option to replace the invalid request-message with a correct one and forward that to the endpoint.....

I can imagine an implementation could be done by adding th possibil

[2020-02-20 07:58] jkransen commented on #50
This is precisely the functionality I am looking for. I commonly have a few XSD files accompanying the WSDL, often depicting different namespaces. Merging them is cumbersome, and would be an extra step, as the WSDL/XSDs are managed by a different organisation. Could this issue be reopened? It is not a bug though, it would be added functionality.

[2020-02-24 09:28] jkransen opened #179 "Pick up internal import files"
In a docker context, it is convenient to be able to add a file to an "imports" subdirectory that is accessed by castlemock. Upon startup, castlemock can import these files. This bypasses the need to use the REST API, and the accompanied timing issues between creating the docker image and accessing the actually running container.

**Describe the solution you'd like**
A subdirectory called something

[2020-02-26 08:08] GrumpyMeow commented on #179
I agree with this request. It’s something I was also trying to resolve. Shouldn’t be too hard to implement to scan for a file upon startup.

[2020-02-28 22:41] karldahlgren commented on #179
Hi @jkransen.
I absolutely agree that this would be a nice feature! I will look into it as soon as possible.
However, this you manage to see what @GrumpyMeow posted before regarding the persistence outside the Docker image? Is that something that would help for now?

Wiki: https://github.com/castlemock/castlemock/wiki/Docker#persistence

Best regards,
Karl Dahlgren

[2020-03-02 08:58] jkransen commented on #179
Hi @karldahlgren , yes I did consider this, but when I want to distribute a Docker image that mocks a real world endpoint, then the existing solution would require distributing the project files along with the image. The proposed feature would allow only distributing the newly created image. It's good to have both options available :-) Can you give me a heads up once you actually want to start on

[2020-03-02 09:13] GrumpyMeow commented on #179
Hi Jeroen,
Are you aware that it’s also possible to create a Docker image ontop of the dockerhub image?
In your own Dockerfile you can then provision the files in the folder that Castlemock uses for internal storage.
You’ll than not use the import/export xml any more. But use a whole set of small xml files. I’ve committed these files to a git repository. This seems to work quite good.

[2020-03-02 09:22] jkransen commented on #179
Hi @GrumpyMeow , I had thought about docker volume and adding the files through Dockerfile, but not to combine them .That's actually a good idea, having an "edit mode" with a docker volume and a "persist" mode with copying the files through Dockerfile. Glad that this is possible. To be honest, I was not totally sure if the .castlemock files would fully cover the state, glad to know that it does.

[2020-03-02 20:01] mhewedy opened #183 "k8s: invalid ip of address/wsdl in operation page"
**Describe the bug**
when running Castlerock inside Kubernetes, then the operation **Address** and **WSDL** fields refer to the POD internal IP rather than the service EXTERNAL-IP.

**To Reproduce**
Steps to reproduce the behavior:
1. download and install k3s
2. `kubectl apply -f https://gist.github.com/mhewedy/e4082731e2a87801fdff02e7841f4024/raw`
3.  `kubectl get svc` and get the external IP add

[2020-03-02 21:47] karldahlgren opened #184 "Castle Mock does not force UTF-8 decoding when loading files"

[2020-03-02 21:48] #184 closed

[2020-03-03 08:23] GrumpyMeow commented on #179
Yes, the files in the .castlemock folder cover the full state. I did put some .gitignore entries in place to exclude a few file types. For example: “**/*.user” and “**/*.token”.
If you’re gonna resolve this issue in Docker, it might be interesting to look at the “ONBUILD” Dockerfile-instruction for this purpose. This instruction was new for me and peaked my interest, but i haven’t got around to tr

[2020-03-03 08:32] GrumpyMeow opened #185 "Log file for resolving unmatched requests"
hi Karl,

I’m still using Castlemock on a day-to-day basis and discover new features all the time.

One thing I still “miss” is having user-friendly insight into unmatched requests. I am able to get this insight through the logs of the (Windows) Docker container, but not through the CM user-interface.

A more refined option is to also display unmatched requests in the event-log list in the User-in

[2020-03-04 06:20] karldahlgren commented on #185
Hi @GrumpyMeow!
Great idea! I definitely think that feature should be added. I will look into it as soon as I can.

Thank you for the great suggestion.
Best regards,
Karl Dahlgren

[2020-03-04 13:23] jkransen commented on #179
Hi @GrumpyMeow , I can now run the "empty" castlemock docker image, save the files locally under 'cmfiles' in a git repo. I use this Dockerfile to create a "filled" castlemock image:

`FROM castlemock/castlemock:latest

COPY cmfiles/* /root/.castlemock/
`

When I build this docker image, and run it, I see an empty project list, but al the files are there when I /bin/bash into the container. What a

[2020-03-05 04:24] 3logy opened #186 "Import of Swagger 2.0 or OpenApi 3.0.0 files failed [v1.43]"
**Describe the bug**
I just generate the Swagger Petstore example at editor.swagger.io and try to import it in a project. But it fails with the error :
`Handler dispatch failed; nested exception is java.lang.NoSuchMethodError: 'void io.swagger.models.AbstractModel.addProperty(java.lang.String, io.swagger.models.properties.Property)'`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'edi

[2020-03-10 16:56] karldahlgren commented on #186
Thank you @3logy for reporting this.
I have located the issue and created a fix for it. I will release a new version of Castle Mock as soon a possible.

Best regards,
Karl Dahlgren

[2020-03-10 16:56] #186 closed

[2020-03-11 07:07] karldahlgren commented on #186
A new version of Castle Mock (v1.44) has now been released and can be downloaded from our webpage and from Docker Hub.

Thanks once again for reporting this.

Best regards,
Karl Dahlgren

[2020-03-12 12:38] anagori commented on #155
Hi,

I pulled the latest version of castle mock, and I am still struggling with same issue :(
Can you please recheck or help me if i have to pull with some specific version.
________
Regards,
Anurag

[2020-03-12 19:25] karldahlgren commented on #155
Hi @anagori.
Which version are you trying? Is it possible for you to provide a WSDL example that can reproduce this issue?

Thanks!
Best regards,
Karl Dahlgren

[2020-03-16 17:08] anagori commented on #155
Hi @karldahlgren,

I am using version 1.39. I will share the request/response shortly.
__________
Regards,
Anurag

[2020-03-16 17:55] karldahlgren commented on #155
Hi @anagori.
The latest version is 1.44 and your fix was part of 1.42. You should download and test the latest version.

Best regards,
Karl Dahlgren

[2020-03-16 18:10] anagori commented on #155
I pulled the latest image from docker hub, somehow I got  again old 1.39.

Now, I pulled explicitly 1.42 and issue is resolved.

Thanks a lot for your very quick feedback 👍

[2020-03-18 06:06] crlikcngroup opened #187 "URL Query matching"
Hi,
I have a simple gateway (using "REST API", json) I need to mock. But it is using query parameters to discriminate between the commands. For example:

[code]
Is possible to define different responses based on the parameter values?

I found this old issue https://github.com/castlemock/castlemock/issues/63 but I cannot see any such view. Only Header Queries tab.

I installed CastleMock today usin

[2020-03-18 12:11] GrumpyMeow commented on #187
Hi,
This took me also a while to figure out.
The “queries” tab will only be visible if the endpoint url contains some variable “variables”.

Thus you should specify: /index.php?command={commandvar}
In the endpoint url field.

[2020-03-18 14:05] 3logy commented on #186
Hi @karldahlgren we are still waiting for the v1.44 on Docker Hub. Thank you for your work,

[2020-03-18 14:07] crlikcngroup commented on #187
Aaaah, cool. Thank you very much.

Not easy to figure out. But it could do the trick.

[2020-03-18 14:07] #187 closed

[2020-03-18 20:30] karldahlgren commented on #187
Thanks @GrumpyMeow!
Sorry @crlikcngroup for it being unclear. I will add this to the wiki so that it will become more clear in the future 😄

Best regards,
Karl Dahlgren

[2020-03-18 20:43] karldahlgren commented on #186
Hi @3logy.
The latest version of Castle Mock Docker Hub is v1.44. However, I have added tag for v1.44 as well. It is now available on Docker Hub.

Sorry for the delay.
Best regards,
Karl Dahlgren

[2020-03-24 13:04] pjmartorell opened #192 "Forwarding requests to original IP address instead of mocking them"
**Describe the bug**
Hi, I created a WSDL project, imported the WSDL and all ports are in 'Mocked' status.
I tried to do an operation with a library I'm using and it's trying to communicate with the original IP instead of the mock server.

**To Reproduce**
Steps to reproduce the behavior:
[code]
My WSDL contains the following, which I think it's what is causing the issue (I masked some words for s

[2020-03-24 16:53] karldahlgren commented on #192
Hi @pjmartorell.
Unfortunately, this is a known limitation for Castle Mock. Castle Mock will simply just store the uploaded WSDL file and then return it as it is. The main problem here is parsing of the WSDL file. In order to parse the WSDL file we often need all the schemas. In order to avoid that, we have instead decided to simply return the WSDL file as is and let the consumer override the endp

[2020-03-24 17:00] pjmartorell commented on #192
Thanks for the explanation 👍🙂

[2020-03-25 13:56] marinog82 opened #193 "REST API for Import Project"
It's possible have an REST API for Import of the project?
I have check this command, related at the issue #49  :

curl -X POST "http://localhost:8080/castlemock/api/rest/core/project/import?type=SOAP" -H "accept: */*" -H "Authorization: Basic YWRtaW46YWRtaW4=" -H "Content-Type: multipart/form-data" -F "file=@project-soap-QrTaXl.xml;type=text/xml"

but don't work fine on the latest version of castl

[2020-03-25 17:45] karldahlgren commented on #193
Hi @marinog82.
I took a look at this issue and it seems that you are using an invalid endpoint. It should be like this:

[code]

Please give it a try and see if it helped 😄
Best regards,
Karl Dahlgren

[2020-03-25 17:46] karldahlgren commented on #193
Btw, you can always see the REST API definition on the following link: http://localhost:8080/castlemock/swagger-ui.html

Best regards,
Karl Dahlgren

[2020-03-25 17:50] karldahlgren commented on #160
Hi @adlet-nyussupov.
My apologies for the late response. This issue should have been resolved in the latest release. Would it be possible for you to give it another try?

Best regards,
Karl Dahlgren

[2020-03-25 17:51] marinog82 commented on #193
@karldahlgren Thanks a lot ;) works

[2020-03-25 17:53] karldahlgren commented on #161
Hi @MuhamedMustang.
Would it be possible for you to try to reproduce this issue? I have made changes on how it imports project which should resolve your issue.

Thank you very much!
Best regards,
Karl Dahlgren

[2020-03-25 17:53] #153 closed

[2020-03-25 17:54] #193 closed

[2020-03-26 14:47] lnu opened #194 "XPath expression throws an exception when using mtom"
I try to set an xpath expression to mock a specific response.
It does not work and I receive this in the logs:
[code]
[code]
I can't really put the request here but I tried the xpath expression and it works.
I'm running CastleMock in docker.

[2020-03-26 21:50] karldahlgren commented on #194
Hi @lnu.
Would it be possible for you to create a request and XPath that might produce the same error? Perhaps remove all the sensitive data from the request? You can send me the request and XPath to my email directly if you prefer that: karl.dahlgren@castlemock.com

Thank you!
Best regards,
Karl Dahlgren

[2020-03-27 10:47] lnu commented on #194
I made more tests and when I try the same mock from SoapUI it works. It seems whenever I use a wcf client (.net app or wcfstorm) it fails with the same error.

[2020-03-29 20:52] karldahlgren commented on #194
Hi @lnu.
Thank you so much for reporting this issue. There was indeed an issue with MTOM and XPath. The bug has now been fixed and a new release has also been released (v1.45). The release is available on our webpage and on Docker.

Once again, thank you very much!
Best regards,
Karl Dahlgren

[2020-03-29 20:52] #194 closed

[2020-03-30 10:24] lnu opened #197 "Slow response time when using expressions"
**Describe the bug**
[usingExpressions.zip](https://github.com/castlemock/castlemock/files/4402119/usingExpressions.zip)
I have a method returning a list of documents containing multiple expressions. If the number of documents is small, it's fast. If I have more than 1000 documents it takes more than one minute to return the data.
The request is also to big to be created from the UI. I create it e

[2020-03-30 10:26] lnu opened #198 "Expression: random_date is not really random"
**Describe the bug**
[usingExpressions.zip](https://github.com/castlemock/castlemock/files/4402120/usingExpressions.zip)
I use the random_date expression in a list of items. All items get the same date(today).

**To Reproduce**
Use the random_date expression for a property inside a list of items.
**Expected behavior**
To get a random date and not today.

[2020-04-02 09:55] adlet-nyussupov commented on #160
Hi @karldahlgren !
Yes I used a new version of the CastleMock and It seems that the problem was resolved. Thank you!

[2020-04-02 09:55] #160 closed

[2020-04-08 10:59] anagori commented on #136
Hi @karldahlgren ,

I bumped into similar issue as well, is there any more finding to it.

Many Thanks !!
_________
Anurag

[2020-04-20 12:24] Maxouwell opened #204 "API Endpoint for querying logs"
As we are using CastelMock for our non regression process, it would be usefull to be able to query the CastelMock API and get the details of the recent request/response for a specific method.

[2020-04-21 17:06] ranjankumar87 commented on #63
Hi Team,
Currently using version 1.45. Want to configure endpoint based on query parameters.
Wanted two responses for two countries India & US (getCustomer?country=IN)

I have configured resource getCustomer?country={country} and responses for two countries.
But giving same response, for all these URL
1. http://192.168.1.5:8080/castlemock/mock/rest/project/LenS6e/application/e0sj58/getCustomer?cou

[2020-04-22 19:04] GrumpyMeow opened #205 "When "recording" i would expect query-parameters to be added."
When i entered a url with parameters, i would expect that during recording the requests/responses the parameters are automatically added by "queries"-parameters.

[2020-04-22 19:07] GrumpyMeow opened #206 "Fire and record"
it would be nice to have a button to send a request to the "forward endpoint" and record the response.
And also be able to click a button to "update" the recorded response with fresh data.

[2020-04-23 12:59] GrumpyMeow opened #208 "Queries parameter names disappear when editing & saving an existing rest-response"
When i have defined a rest-response with body & queries-parameters.
If i then navigate to that rest-response and do any small modification and update the response.
The parameter names of Queries disappear (also from disk in xml files).

[2020-04-29 16:06] Khan-Tzar opened #209 "Unable to deserialize"
![test-6](https://user-images.githubusercontent.com/29702138/80619285-2cfb4100-8a4d-11ea-815a-026d7d0e4442.png)
Hello
I used the official Docker image to setup and test Castle Mock
I started it with this command
docker run -d -p 8787:8080 castlemock/castlemock

Opened it and it seems worked. Tried to import project but it gave
"**An error occurred
Unable to deserialize**"

Attached screenshots of

[2020-05-01 07:16] ranjankumar87 opened #210 "Can it differentiate response by header body for post call in Rest API"
Hi Team,

I am playing around Castle mock and found it very easy to use. This is more of a guidance.
I have a requirement for POST call.
Ex: /addEmployee
Header Body:
1.
{
"sex":"M",
"address":"US"
}

2.
{
"sex":"M",
"address":"IN"
}

I don't want to add anything as header/path/query parameter.
I mean to say nothing like this
addEmployee/1
addEmployee?id=1

 Can I differentiate response based on a

[2020-05-01 08:07] karldahlgren commented on #210
Hi @ranjankumar87.
Glad to hear that you find it easy to use.
I'm not completely certain what you mean with "Header Body"? It seems to me that you a looking to match based on the request JSON body. This can be achieved by using the JSON Path response strategy. You can find more information about it on our wiki: https://github.com/castlemock/castlemock/wiki/Use-Case:-REST#json-path

I hope you find

[2020-05-01 08:46] ranjankumar87 commented on #210
Yes. You are right. I wanted match based on the request JSON body.
It worked for me and thank you very much for the quick reply and guidance.

[2020-05-01 08:46] #210 closed

[2020-05-05 14:39] tomerst opened #214 "Unable to identify SOAP operation"
Hey guys, I'm stuck and could really use some help.
I got some WSDL from my provider
Deploying it on castleMock shows no issues.
using it to call real provider gives back proper response
But, when trying to call this service on castleMock, I'm getting
<error-response>
   <error-message>Unable to identify SOAP operation: EAIInterfaceServiceSoap</error-message>
</error-response>

What am I missing?

[2020-05-05 20:43] karldahlgren commented on #214
Hi @tomerst.
Would it be possible for you to provide an example of how your SOAP request towards Castle Mock looks like?

Thanks.
Best regards,
Karl Dahlgren

[2020-05-06 05:51] tomerst commented on #214
Hi Karl,
I’ve used both an autogenerated request (by SoapUI) and a real request from testing environment:
`<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
    <Header xmlns="http://schemas.xmlsoap.org/soap/envelope/"/>
    <soap:Body xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:ty

[2020-05-07 06:35] tomerst commented on #214
Anything?...

[2020-05-07 07:22] Khan-Tzar opened #215 "Show current version of used application"
Is it possible to add the version of current used application, please?
In fact I searched to see what version I use and I didn't find it.  I hope I use last one 1.45 but not seen at user interface.

[2020-05-08 06:11] karldahlgren commented on #214
Hi @tomerst.
Currently investigating this issue. Seems to be an issue when extracting the operation details from the WSDL. Haven't had time to look into the issue. Will continue the investigation during the weekend.

Best regards,
Karl Dahlgren

[2020-05-10 21:35] karldahlgren commented on #214
Hi @tomerst.
I have located and fixed the issue. A new release with the fix will be released shortly (One or two days). Thank you for reporting this.

Best regards,
Karl Dahlgren

[2020-05-10 21:40] karldahlgren commented on #215
Hi @Khan-Tzar.
The version of Castle Mock is always presented at the right bottom corner, e.g Castle Mock Version 1.45 (See attached screenshot).
<img width="1273" alt="version" src="https://user-images.githubusercontent.com/4678380/81511170-9580d280-9317-11ea-8800-81f35d14b0eb.png">

[2020-05-11 14:51] Khan-Tzar commented on #215
Yes sorry my fault thanks for your help.

[2020-05-11 14:51] #215 closed

[2020-05-14 08:14] kavhad commented on #208
I'm getting this as well.

[2020-05-14 14:58] tomerst commented on #214
Hi,
any update?...

[2020-05-14 19:29] karldahlgren commented on #214
This issue has now been resolved and part of the latest release, 1.46.
Please give it a try.

Thanks!
Best regards,
Karl Dahlgren

[2020-05-14 19:29] #214 closed

[2020-05-14 19:56] karldahlgren commented on #208
Thank you @GrumpyMeow and @kavhad for reporting this.
I have located the issue and resolved it. It will be part of next release with is expected to be released this weekend.

Best regards,
Karl Dahlgren

[2020-05-14 19:56] #208 closed

[2020-05-14 19:59] karldahlgren commented on #209
Hi @Khan-Tzar.
My apologies for the late response.
Would it be possible for you to send me an example? I get this issue reported once in a while, but it seems to be related to encoding. It would really help with a small example.

Thanks!
Best regards,
Karl Dahlgren

[2020-05-15 07:13] Khan-Tzar commented on #209
Hi @karldahlgren

Yes sure here attached two zipped sample projects. When I try to import them in Castlemock I receive mentioned error.
[Sample-REST-Project-soapui-project.zip](https://github.com/castlemock/castlemock/files/4632792/Sample-REST-Project-soapui-project.zip)
[Sample-SOAP-Project-soapui-project.zip](https://github.com/castlemock/castlemock/files/4632794/Sample-SOAP-Project-soapui-proje

[2020-05-15 20:46] karldahlgren commented on #209
Hi @Khan-Tzar.
The attached files seems to be exported projects from SoapUI. SoapUI project files are not supported by Castle Mock and cannot be imported.

Best regards,
Karl Dahlgren

[2020-05-16 20:16] karldahlgren opened #216 "Add support for XPath expression in mocked responses"

[2020-05-16 20:20] karldahlgren commented on #216
This feature has been implemented and will be part of release 1.47. Further information can be found in the wiki page: https://github.com/castlemock/castlemock/wiki/Expression#body-xpath

[2020-05-16 20:20] #216 closed

[2020-05-17 18:31] karldahlgren commented on #198
This issue has now been resoled and will be part of release 1.47.
Thank you once again for reporting this issue.

Best regards,
Karl Dahlgren

[2020-05-17 18:31] #198 closed

[2020-05-17 19:08] karldahlgren commented on #173
This issue is now resolved and will be part of the next release, v1.47
Thank you once again for reporting this issue.

Best regards,
Karl Dahlgren

[2020-05-17 19:08] #173 closed

[2020-05-18 13:20] Khan-Tzar commented on #209
Hi @karldahlgren
Yes I gave you SoapUI examples but when I reported the issue I attached an example from Castlemock. Here I attach it again my steps are as follow I create  a new project in Castlemock then I export created project and when i try to import it gives me unable to de serialize. You can see my screenshots.

[caste-mock-export-soap-project.zip](https://github.com/castlemock/castlemock/f

[2020-05-18 18:33] karldahlgren commented on #209
Hi @Khan-Tzar.
Thank you for providing the exported project. I tried to import the project and it worked for me. Do you import the zip-file or the XML-file? Castle Mock only support the XML files and will not unpack  and import the zip-file. The zip-file is only used when exporting multiple projects, which can be a mix of either SOAP or REST projects.

Best regards,
Karl Dahlgren

[2020-05-18 19:33] karldahlgren commented on #161
Closing issue since issue has been inactive.
Please re-open if you experience this issue again.

Best regards,
Karl Dahlgren

[2020-05-18 19:33] #161 closed

[2020-05-19 12:07] NgageX opened #218 "Some JSON Path expressions does't work with arrays"
Hello.
I found many problems with JSON Path expressions in Сastle Mock version. 1.48:
1. Example from a wiki does't work.

Incoming body:
{
    "store": {
        "book": [
        {
            "category": "fiction",
            "author": "Herman Melville",
            "title": "Moby Dick",
            "isbn": "0-553-21311-3",
            "price": 8.99
        },
        {
            "category":

[2020-05-19 19:31] dtorresgithub commented on #136
Hi @karldahlgren ,

I am getting the same error "Unable to upload or parse the file", I am wondering if it could be something tomcat is restricting or wsdl file is not supported? I have attached the wsdl file I am using.

Thanks & Regards
David Montes de Oca
[TransactionProcessing.zip](https://github.com/castlemock/castlemock/files/4652708/TransactionProcessing.zip)

[2020-05-19 19:43] karldahlgren commented on #136
Hi @dtorresgithub.
I just tried to upload your WSDL file and it worked great. How are you uploading the WSDL? Are you uploading the WSDL or the zip file? Did you create a SOAP project? Which version are you using? There was a new version released yesterday. Have you tried it with the latest version?

<img width="1100" alt="136" src="https://user-images.githubusercontent.com/4678380/82370954-ad440f

[2020-05-19 19:55] dtorresgithub commented on #136
Hi @karldahlgren ,
Thanks for the quick response.
I uploaded the wsdl file (no zip). I created a SOAP project. Version is 1.48 (just set up this morning). This is running in Linux server tomcat.
From my side I am checking if there is some upload restrictions that might be causing this issue.

Thanks & Regards
David Montes de Oca

[2020-05-19 20:22] dtorresgithub commented on #136
Hi @karldahlgren ,

Is now working, this was the fix sent by web person:

add /castlemock/ to HTTP header security filter in web.xml

Looks like this is on the server side.

Thanks & Regards
David Montes de Oca

[2020-05-19 20:47] karldahlgren commented on #218
Thank you for reporting this issue @NgageX.
I've resolved the issue and the fix will be part of the next release. I haven't scheduled any new release yet, but I could release a new version at the end of the week.

Would that work for you?
Thanks!
Best regards,
Karl Dahlgren

[2020-05-19 20:49] karldahlgren commented on #136
Great to hear @dtorresgithub!
Feel free to contact me if you are facing any other issues or have any questions.

Best regards,
Karl Dahlgren

[2020-05-20 04:52] doanva84 opened #219 "Could not Generate responses from uploaded Swagger 2.0 file"
**Describe the bug**
I've tried many times to import/upload file to Castle-mock 1.45 (Docker) but always 'Upload error! Unable to upload or parse the file.' if checked/ticked 'Generate responses for each operation'

**To Reproduce**
0. Pre-condition
0.1 saved from http://wiremock.org/assets/js/wiremock-admin-api.json (open API 3.0) to local
0.2 use 'api-spec-converter' to convert to Swagger 2.0 (o

[2020-05-20 10:32] NgageX commented on #218
Many thanks, @karldahlgren .
It will be very useful.

[2020-05-20 21:32] amduser opened #220 "BODY_XPATH does not support substring or other string functions"
**Describe the bug**
BODY_XPATH is unable to parse expressions that return strings like substring.  Instead an exception is thrown that "Can not convert #STRING to a NodeList!"

**To Reproduce**
In a mock SOAP response, this will return an empty value for the node
<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:web="http://example.com/ws/schemas/1.0">
   <soapenv:

[2020-05-23 21:38] karldahlgren commented on #219
Hi @doanva84.
Thank you so much for reporting this issue. I managed to reproduce it and solve the issue. The bug fix will be part of the next release, which is scheduled to be released before the end of this week.

Once again, thank you so much for raising this issue.
Best regards,
Karl Dahlgren

[2020-05-24 19:57] karldahlgren commented on #218
The bug fix has now been released with the latest version of Castle Mock, v1.49.

Thank you once again for all your help.
Best regards,
Karl Dahlgren

[2020-05-24 19:57] #218 closed

[2020-05-24 19:57] karldahlgren commented on #219
The bug fix has now been released with the latest version of Castle Mock, v1.49.

Thank you once again for all your help.
Best regards,
Karl Dahlgren

[2020-05-24 19:57] #219 closed

[2020-05-24 19:57] karldahlgren commented on #220
The bug fix has now been released with the latest version of Castle Mock, v1.49.

Thank you once again for all your help.
Best regards,
Karl Dahlgren

[2020-05-24 19:57] #220 closed

[2020-05-25 06:22] doanva84 commented on #219
Thank you so much, @karldahlgren for quick reaction.

As per my checking, Castlemock 1.49 could import (via Upload) for Swagger2 version of (http://wiremock.org/assets/js/wiremock-admin-api.json ) successully. However, there're some missed cases (no responses):
- /__admin/recordings/start
- /__admin/mappings/remove-by-metadata
- DELETE method of /__admin/requests/{requestId}
- DELETE method of /__

[2020-05-25 11:08] doanva84 opened #223 "I don't know how to use 'Header Queries' to prevent a mock always successful"
**Describe the bug**
'Header Query' must prevent GET always success

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Header Queries' tab of a normal GET (status code = 200)
2. Input 'Header' = 'X-Api-Key', Query = 'DEMO-KEY'
3. Scroll down and click 'Add Query' then 'Update response'
4. curl -X GET -H "X-Api-Key: DEMO-KEY123" <Address>.
**See error**: Always get successful result (OK,

[2020-05-25 11:29] NgageX opened #224 "JSON Path expressions with square brackets does't work"
Hello.
The defect https://github.com/castlemock/castlemock/issues/218 was partially fixed. Thank you for fast fix. But when I updated to Сastle Mock version. 1.49, some difficulties has appeared:

**Incoming body:**
{
"store": {
"book": [
{
"category": "fiction",
"author": "Herman Melville",
"title": "Moby Dick",
"isbn": "0-553-21311-3",
"price": 8.99
},
{
"category": "fiction",
"author": "J.R.R.

[2020-05-25 18:58] karldahlgren commented on #223
Hi @doanva84.
Which response strategy are you using for your method? To get Header Queries to work you need to configure your Method to use the Header query match response strategy.

You can find more information regarding this on our wiki: https://github.com/castlemock/castlemock/wiki/Use-Case:-REST#create-mocked-responses

I hope you find this helpful.
Best regards,
Karl Dahlgren

[2020-05-25 20:56] karldahlgren commented on #224
Thanks for reporting this @NgageX.
I have located where the problem is, but I haven't been able to fix it yet. I will hopefully have a fix ready in one or two days.

I will keep you posted.
Best regards,
Karl Dahlgren

[2020-05-26 08:42] doanva84 commented on #223
Thank you for quick supporting,
I may use 'Header queries' to prevent a mock always successful by settings 'Response strategy' as 'Header Query Match'.

It seems that we could not combine Random/Sequence strategy with 'Header Query Match'. If so, I recommend to allow multiple choices on 'Response strategy'

Thank you again for always great replies

[2020-05-26 09:22] doanva84 opened #225 "[Docker] 'Address' show docker-IP instead of Container-IP"
**Describe the bug**
'Address' of a method should use Container-IP

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Castle-mock using Docker (Assumption: docker-IP = a.b.c.d, container-IP = k.l.m.n)
2. Create a sample Project/App/Resource then method
3. See error: 'Address' showed http://a.b.c.d:PORT/castlemock/mock/rest/project/<project-code>/application/<app-code>/<resource-uri>

**E

[2020-05-26 10:01] doanva84 commented on #224
Hello @NgageX & @karldahlgren,
I've tried to example JSON Path on Castle-mock 1.49 (Docker version) but it seems does not work.
Please help to me to recognize mistakes for below settings.

I setup:
1. Create a json file name 'test.json' at $(pwd) (content as in https://github.com/castlemock/castlemock/wiki/JSON-Path)
2. Create a project/application/resource with GET/POST methods.
Address | http://

[2020-05-26 11:06] NgageX commented on #224
Hello @doanva84
If you want to use JSON Path as response strategy, you also need to add JSON Path at the **JSON Paths** tab in the Response.
If you want to use JSON Path of request as the part of response Body (another functional), you need not only add a Path to the Body, but also enable the checkbox **Use expressions**.

[2020-05-27 03:15] doanva84 commented on #224
Thank @NgageX for your comment,
In fact, I setup all of fields as your suggestion
1. Response strategy = JSON Path match
2. Response
- Checked 'Use expressions' in response
- Body
[code]
- JSON Paths
`$.store.book[?(@.price < 10)]`

- Otherwise as default

But
curl -X GET http://IP:PORT/castlemock/mock/rest/project/QLfiPZ/application/cAxzyN/test1 --header "Content-Type: application/json" -d @test.

[2020-05-27 10:26] NgageX commented on #224
@doanva84
For expressions in Body you need to use another syntax https://github.com/castlemock/castlemock/wiki/Expression#body-json-path
Anyway it will not work now, because the current defect is not fixed.

[2020-05-28 02:45] doanva84 commented on #224
Thank you so much, @NgageX. I could see that Castle-mock works with JSON-Path partially.
In fact, I didn't review carefully the wiki contents. I am so sorry for making noises on your thread here

[2020-05-28 11:02] NgageX commented on #224
@doanva84 glad to help you.

[2020-05-29 11:24] Khan-Tzar commented on #225
I have also problem with the URL.

I started Castle Mock as Docker container and it has internal IP which is not seen outside but we
assigned an external IP address as alias host's machine network card and dedicated to this container in order to be accessed outside.

Into the Castle Mock I see generated URL with IP 172.17.0.3:80 which is the IP granted by Docker engine to the container but I acces

[2020-05-29 11:33] Khan-Tzar opened #226 "Add possibility to edit logo and name of the portal"
I would like to ask you to add a feature in Admin configuration panel to be able to change in top left corner the name and logo of application.

Attached an image the two parts that I would like you to allow administrators to customize .

![mock-service](https://user-images.githubusercontent.com/29702138/83255462-25989600-a1b9-11ea-8cbd-ec29cdf5babb.png)

[2020-05-29 11:53] Khan-Tzar opened #227 "Extend User form to be able to enter Full Name"
Is it possible to extend User form to be able to enter full name of the User, please?

Attached an image as proposal.
![mock-service](https://user-images.githubusercontent.com/29702138/83256934-10713680-a1bc-11ea-8207-cd18b711c640.png)

[2020-05-29 12:19] Khan-Tzar opened #228 "Display logged in user at top right corner"
Is it possible to display who is logged in at the top right corner, please?

For example I can't recognize easily when I am logged in with my user account  as Modifier and when I am with the Admin account.

![mock-service](https://user-images.githubusercontent.com/29702138/83258659-4cf26180-a1bf-11ea-843d-a8e42f9808b7.png)

[2020-05-29 13:35] Khan-Tzar commented on #209
I think we can close this issue.

[2020-05-29 13:35] #209 closed

[2020-05-31 19:44] #228 closed

[2020-05-31 19:46] #227 closed

[2020-06-04 06:00] anagori opened #232 "Specific Role or Extension to Modifier Role to Allow Only Update of Mock Response"
As of now we have 3 roles as option in Castlemock Admin/Reader/Modifer .

I want to give the castlemock configuration to few users to only play with responses value without any risk of deletion of port or project..

Reader is having only Read Only Rights
Modifier is quite powerful, with access to modify almost everything from project to port to import.
It will be nice if there could be more config

[2020-06-10 08:20] doanva84 commented on #223
It seems that we could not combine Random/Sequence strategy with 'Header Query Match'. If so, I recommend to allow multiple choices on 'Response strategy'

[2020-06-10 08:20] #223 closed

[2020-06-10 10:23] doanva84 commented on #225
@karldahlgren: I think the root cause is : invokeAddress is building from internal request.
In fact, it should be built from external container (In JavaScript, external address may be get via
`var invokeAddress_ROOT = window.location.origin //Reference: https://stackoverflow.com/questions/6941533/get-protocol-domain-and-port-from-url`

1. https://github.com/castlemock/castlemock/blob/master/web/mo

[2020-06-16 12:37] tomerst opened #233 "Can't upload SOAP with just input and/or just output"
Hi,
I've got this WSDL from my provider,
[ivrSyncCustomer.zip](https://github.com/castlemock/castlemock/files/4786601/ivrSyncCustomer.zip)
for which I'm getting "Upload error! Unable to upload or parse the file."

after some investigation, I see that it is due to cases like the following:
`  <wsdl:portType name="IvrSyncPort">
    <wsdl:operation name="ivrSyncCustomer">
      <wsdl:input message="t

[2020-06-18 14:19] Khan-Tzar opened #234 "See log inofrmation wen import RAML file"
Is there a chance to see more verbose output why a RAML failed to upload?

Currently it displays "**_Upload error! Unable to upload or parse the file._** " .  Is there a log where I can go and check more details?
![upload_error](https://user-images.githubusercontent.com/29702138/85031681-a4b13680-b187-11ea-8dbb-482fae5d290e.png)

[2020-06-29 11:25] stefan93 commented on #220
Hi,

I have tried to use string function in expression:

${BODY_XPATH(expression="substring-after(//CheckPRNStatus/strPRN/text(), "V")")}

I got error: mismatched input 'V' expecting {',', ')'}.
It looks like literal string can't be passed as argument to xpath functions?
I am not sure if this is related to this bug, or I am using it wrong. I can open detailed separate issue, if needed.

[2020-06-29 21:00] karldahlgren commented on #220
Hi @stefan93.
Would it be possible for you to try the following expression?
    ${BODY_XPATH(expression="substring-after(//CheckPRNStatus/strPRN/text(), \"V\")")}

My guess is that you have to escape the quotation marks.
Thanks!
Best regards,
Karl Dahlgren

[2020-06-29 21:09] karldahlgren commented on #234
Hi @Khan-Tzar.
My apologies for the late response.
I have improved the logging for when RAML uploads fails. It will be part of the next release.

Best regards,
Karl Dahlgren

[2020-06-30 15:20] stefan93 commented on #220
Hi @karldahlgren,

I tried escaping quotes around "V". But same results.

-  ${BODY_XPATH(expression="substring-after(//CheckPRNStatus/strPRN/text(), \\"V\\")")} and
${BODY_XPATH(expression="substring-after(//CheckPRNStatus/strPRN/text(), /"V/")")}
line 1:75 mismatched input 'V' expecting {',', ')'}
ERROR: com.castlemock.core.basis.utility.XPathUtility - Unable to evaluate xpath expression
javax.x

[2020-07-01 21:10] karldahlgren commented on #220
Hi @stefan93.
Good news! I was able to reproduce the issue and I believe that I have located where the problem could be. Unfortunately, the fix requires code changes. I will try to fix the issue before the end of this week. I can prepare a release as soon as the issue has been resolved.

My apologies for the inconveniences.
I will keep you updated. Thank you for reporting this.

Best regards,
Karl

[2020-07-02 09:20] jingyuLin1999 opened #240 "Associating message with types in .wsdl, then it can not work"
**Describe the bug**
I only associate message with types ,then i use postman to request, it report "Unable to identify SOAP operation: HospitalServiceHttpPort".
1、my .wsdl
[code]
2、postman
request body
[code]
respond
[code]
3、I just unbind messate and types in .wsdl,then it work. why? Castal mock do not support types?
[code]

[2020-07-02 20:29] karldahlgren commented on #220
Hi @stefan93.
The issue has been resolved and be part of the next release. I will prepare a new release at the end of this week.
You expression will now work if you write it like this:

    substring-after(//CheckPRNStatus/strPRN/text(), 'V\')

I unable to get it to work with double quotation marks, so you can instead use single quotation marks instead.

[2020-07-02 20:38] karldahlgren commented on #240
Hi @jingyuLin1999.
Thank you so much for writing an excellent bug report.
Would it be possible for you to provide the full WSDL, or at least a slimmed version of the WSDL? It really helps to identify the problem. Alternatively, you can export the project. Regardless, you can send them to me directly: karl@dahlgren.info.

Thank you very much.
Best regards,
Karl Dahlgren

[2020-07-04 19:47] karldahlgren commented on #240
Hi @jingyuLin1999.
This issue has now been fixed and will be part of the next release.

Once again, thank you so much for reporting this issue.
Best regards,
Karl Dahlgren

[2020-07-04 19:47] #240 closed

[2020-07-04 19:48] #234 closed

[2020-07-04 22:45] karldahlgren commented on #233
Hi @tomerst.
My apologies for the late response. I have actually looked into this issue quite some bit and I believed that I managed to resolve this issue. The fix will be part of next release which I hope will be released tomorrow.

Thank you so much for reporting this issue.
Best regards,
Karl Dahlgren

[2020-07-04 22:45] #233 closed

[2020-07-06 15:46] tomerst opened #242 "import multiple projects is failing"
Hi,
I've done an export of multiple projects from overview page.
I got some non-readable file out of it.
when I try to import it on a new castle, it fails.
on my first go i tried combination of soap+REST, but on my last attempt I tried 2 SOAP projects and it still have failed...

p.s.,
nice to have: "select all" checkbox on overview page, to select all projects at once

[2020-07-06 21:02] karldahlgren commented on #242
Hi @tomerst.
Castle Mock will zip projects to a zip-file when exporting multiple projects. At the moment, Castle Mock does not support import multiple projects at the same time, so what you need to do is to unzip the exported file and import each project separately.

I have plans to completely rebuild the frontend for Castle Mock, so I appreciate all feedback and suggestions.

Best regards,
Karl D

[2020-07-07 11:48] ChevTomov opened #245 "Extend Users table with 'Full Name' column"
Would it be possible to add a 'Full Name' column inside the Users table, so that the Full name of the respective user is displayed. I have noticed that the 'Full Name' was recently introduced.

![image](https://user-images.githubusercontent.com/67958466/86778355-f18b7d00-c062-11ea-9833-a0965814b895.png)

[2020-07-08 02:23] jingyuLin1999 commented on #240
Hi @karldahlgren
I use latest release and ServiceExample7.wsdl, but i still can not work, it report
[code]
Maybe I made some mistakes, Could you please describe how do you test it in latest version.

what's more, I use below WSDL in version of 1.49, it can work,. Howerer, it report error in latest version.
Error message:
[code]

[code]

[2020-07-11 02:02] bergmp opened #246 "Castlemock returning "Unable to identify SOAP operation: ConsultaSIAPEHttpPort""
Hi,

I generated a mock soap web service using Castlemock. However I am receiving from Castlemock **"Unable to identify SOAP operation: ConsultaSIAPEHttpPort"**. How to fix that?
See below details to reproduce the issue.

**URL using Castlemock:** http://localhost:8080/castlemock/mock/soap/project/GY7yfy/ConsultaSIAPEHttpPort?wsdl

**WSDL:** You can get from here -> https://www1.siapenet.gov.br/WS

[2020-07-11 08:06] karldahlgren commented on #246
Hi @bergmp.
Thank you for reporting this issue.
Do you mind to continue this discussion over email instead. Please send an email to karl.dahlgren@castlemock.com.

Thanks!
Best regards,
Karl Dahlgren

[2020-07-12 08:05] tomerst commented on #233
Hi,
In which release should I expect it?
In 1.49 it is still failing...

[2020-07-12 08:06] tomerst commented on #233
Hi,
Was the fix released?
I checked on latest (1.49?) and it is still failing

[2020-07-12 08:09] karldahlgren commented on #233
Hi @tomerst.
The latest release is 1.50 and it is available both on our webpage and on Docker Hub as 'latest'.

Best regards,
Karl Dahlgren

[2020-07-12 09:15] karldahlgren commented on #246
Hi @bergmp.
Please read our FAQ reading submitting WSDL files before creating a new issues: https://github.com/castlemock/castlemock/wiki/FAQ#i-get-an-error-when-i-upload-my-wsdl-file-why.

Thank you very much!
Best regards,
Karl Dahlgren

[2020-07-12 14:35] #242 closed

[2020-07-13 17:47] bergmp commented on #246
Hi @karldahlgren ,

Sorry about that. Please see attached the WSDL file.

[ws_siape_wsdl.txt](https://github.com/castlemock/castlemock/files/4914203/ws_siape_wsdl.txt)

[2020-07-13 22:00] karldahlgren commented on #246
Hi @bergmp.
I made the FAQ more clear regarding submitting WSDL files. Don't want any WSDL files submitted that can be connected or associated with any company, organization or government. Please have a look at it again and re-create the ticket according to the requirement.

FAQ: https://github.com/castlemock/castlemock/wiki/FAQ#i-get-an-error-when-i-upload-my-wsdl-file-why.

Thank you for your un

[2020-07-13 22:00] #246 closed

[2020-07-16 17:57] tusharsurti commented on #219
upload swagger functionality is still not working

[2020-07-18 04:59] bergmp opened #251 "Receiving from castlemock "Unable to identify SOAP operation: ConsultaXPTOHttpPort""
Hello,

I am trying to mock a SOAP Web Service using castlemock on a docker image 1.50 (latest), but when I call a request to the mocked web service, I always receive from castlemock "Unable to identify SOAP operation: ConsultaXPTOHttpPort"

In order to reproduce the issue, import the WSDL attached to this issue on castlemock web interface and call the request below using the URL http://localhost:

[2020-07-23 10:43] trulex commented on #225
Are there any workarounds for this issue?

[2020-07-23 14:32] karldahlgren commented on #225
Hi @trulex.
I'm hoping to get some time over soon to look into this issue. I believe that the approach that @doanva84 suggesting might be the best long-term solution. In the meantime, what you could do is set the following environment setting to your IP-address or hostname: server.endpoint.address. Your configured value will be shown instead of the IP-address.

Example:

     server.endpoint.addre

[2020-08-06 11:19] lucapuc opened #254 "Import OpenAPI 3.0.1 gives an error"
When I try to import a link swagger (example: https://myhostname/v3/api-docs) or upload a file in **OpenAPI 3.0.1** format, I receive an error message "Upload error! Unable to upload or parse the file." but in the Tomcat's log I have no trace error.
I have tried with some swaggers in OpenAPI 3.0.1 format with same result.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a project REST

[2020-08-06 11:23] karldahlgren commented on #254
Hi @lucapuc.
Unfortunately, OpenAPI 3.0 is currently not support by Castle Mock. It is on the to-do list to implement support for. In the meantime, you could convert the OpenAPI 3.0 definition to Swagger 2.0. I'm hoping to have support to OpenAPI 3.0 as soon as possible.

Best regards,
Karl Dahlgren

[2020-09-03 09:54] francoisle opened #263 "Redirect to login page via https"
Hi, we are running an instance of Castlemock on kubernetes and it can only be accessed through https.
We are running into a timeout when Castlemock initially redirect to the login page using http.
Is there any way to tell Castlemock to use https for the login redirection ? Thanks

[2020-09-04 15:14] jhonatanforero commented on #119
Hi, Its better Spring LDAP if you are using spring, I think this Feature is a Main Security concern.

[2020-09-06 14:07] karldahlgren commented on #263
Hi @francoisle.
Thank you for bringing this issue to my attention. I tried to reproduce this, but unfortunately I was unable to.

I tried to following:
1. Configure Apache Tomcat to use HTTPS
2. Access root castlemock: https://localhost:8443/castlemock

In this case I get redirected to https://localhost:8443/castlemock/login, as expected.
Am I missing something? Could you describe in further detai

[2020-09-08 19:26] francoisle commented on #263
Hello @karldahlgren
We have able to solve our issue by configuring the Tomcat server to use HTTPS as you suggested.
We just didn't know that it was how it should be done so there's no issue anymore.
Thank you for the help.

[2020-09-08 19:26] #263 closed

[2020-09-11 14:24] ReyyanArik opened #266 "Is there an api to enable/disable mock methods?"
Hi,
We would like to use Castlemock in test automation, but we need an endpoint where we can enable / disable the mock methods that we created because we do not want to do this manually.
I have to intervene in castlemock manually without the API. But this is not  the optimal way to use castlemock in test automation I believe.
so,  Is there any API to enable/disable mock methods?  If not, is it pos

[2020-09-14 20:53] MilyaushaV opened #270 "Body XPath expression doesn't work"
**Describe the bug**
XPath expression doesn't return any value.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a rest project.
2. Add body_xpath method in a response body (${BODY_XPATH(expression="/root/user/login/text()")}).
3. Send a request to the mock.
4. See error with extracting a value.

**Expected behavior**
Expected a value "user1".

**Screenshots**
![Screenshot from 2020-09

[2020-09-14 21:00] MilyaushaV commented on #270
It doesn

[2020-09-14 21:12] MilyaushaV opened #271 "Increase session time"

[2020-09-14 21:22] MilyaushaV opened #272 "Add logging by parsing the request"
**Describe the solution you'd like**
I would like to see an information and errors about parsing requests, castle mock's method calls and so on.

[2020-09-15 08:59] MilyaushaV commented on #270
Did not choose "Use expression"

[2020-09-15 08:59] #270 closed

[2020-09-16 14:43] tobiasrdm opened #273 "Eclipse and vscode can't import all castlemock maven projects"
**Describe the bug**
Eclipse and vscode can't import all castlemock maven projects. The cause is more than one maven module with the same `artifactId`.
Some examples:
`core/basics` and `web/basics` has `<artifactId>basis</artifactId>`
`core/mock` and `web/mock` has `<artifactId>mock</artifactId>`
`core/mock/soap` and `web/mock/soap` has `<artifactId>soap</artifactId>`
`deploy/jetty/common` and `de

[2020-09-17 19:58] orodrigueztorres opened #274 "Exporting SOAP project: file not found 0MtHdM.rsc"
I recently started using CastleMock on a Docker container. I created a REST project and a SOAP project and started mocking a bunch of services. I was able to export the REST project but I am not able to export the SOAP project. I get this error: "_Unable to find the following file: 0MtHdM.rsc_". My SOAP project has 15 WSDLs although not all ports are mocked. I created a new empty SOAP projects and

[2020-09-19 08:53] karldahlgren commented on #266
Hi @ReyyanArik.
My apologies for the long response time.
Unfortunately, there isn't one at the moment, but I can definitely add support for this in an upcoming release.

I will keep you updated.
Best regards,
Karl Dahlgren

[2020-09-19 08:54] karldahlgren commented on #272
Hi @MilyaushaV.
Absolutely. I will add additional logging in an upcoming release.

Best regards,
Karl Dahlgren

[2020-09-19 08:56] karldahlgren commented on #273
Hi @tobiasrdm.
I wasn't aware that neither Eclipse or VSCode were able to load Castle Mock. I have some spare time over in the upcoming month. I can refactor the artifacts so that they can be imported to Eclipse and VSCode then.

Thank you for bringing this to my attention.

Best regards,
Karl Dahlgren

[2020-09-19 08:58] karldahlgren commented on #274
Hi @orodrigueztorres.
Would it be possible for you to provide an example of a SOAP project that could not be imported? Sometimes it could be related to encoding or special characters.

In the meantime, I will try to reproduce this issue.
Thanks!
Best regards,
Karl Dahlgren

[2020-09-22 15:16] tobiasrdm commented on #273
Hi @karldahlgren, thank you for answer!

For Eclipse, I found a workarround: on the import screen, click in "Advanced" and select `[groupId].[artifactId]` as "Name template". The default "Name template" is `[artifactId]`.

[2020-09-24 15:03] arnou opened #276 "Docker image tags not match with github"
**Describe the bug**
Tag released not appear in dockerhub

**To Reproduce**
After each github release, latest docker version is renamed in prior release, and latest is used for the current release

**Expected behavior**
On dockerhub, the current release should appear with tags latest and v1.xx (xx = latest github tag)

[2020-09-25 12:34] ReyyanArik commented on #266
Hi @karldahlgren
No problem. Thanks for your interest. I am looking forward to new release.
Thanks,

[2020-09-28 06:23] zzekikaya opened #277 "How to connect to database ?"
Hello @karldahlgren

I have a wsdl service and copy the Payment method because I have to get one out of 2 results failed and success results. Whether I enable or disable my payment method depends on my testing status. Do I need to disable or enable the API? or i can create an api project and do it if i couldn't connect to mongodb? (
spring.data.mongodb.username = mongoadmin
spring.data.mongodb.pas

[2020-10-06 14:51] hrbu opened #281 "Receiving from castlemock "Unable to identify SOAP operation: DokumentServiceHttpSoap12Endpoint""
**Describe the bug**
I'm getting the following error response:
[code]

**To Reproduce**
Using postman and post the following:
[code]

**Expected behavior**
Receiving a valid response.

**Additional context:**
* Using `castlemock:1.5.0`

**WSDL files or other resource attachments:**
* [obfuscated.wsdl.txt](https://github.com/castlemock/castlemock/files/5334648/obfuscated.wsdl.txt)

[2020-10-06 18:23] karldahlgren commented on #281
Hi @hrbu.
I was unable to reproduce this issue. Were you using Castle Mock 1.5.0? I would suggest and recommend you to upgrade to the latest version, 1.51. I couldn't reproduce the issue with the latest version.

Please try with the latest version and please contact me again if you are still able to reproduce this issue.

Best regards,
Karl Dahlgren

[2020-10-07 08:12] hrbu commented on #281
@karldahlgren ... docker hub shows `1.50` as the latest version (https://hub.docker.com/r/castlemock/castlemock/tags).

Please would you provide `1.51`?

[2020-10-08 15:18] tobiasrdm opened #284 "Enconding problem in SOAP Mock Response"
**Describe the bug**
SOAP Response Body containing accented characters, such as `á, â, ã, é, í, ó, ô, õ, ú, ç, Ç, 1ª, 2º` are replaced by `?` character.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new SOAP Project
2. Click on 'Upload > WSDL'
3. Set 'Link to WSDL file:' to http://www.learnwebservices.com/services/hello?WSDL
4. Check 'Generate responses for each operation'
5. Clic

[2020-10-11 15:23] #183 closed

[2020-10-11 15:23] #225 closed

[2020-10-14 12:57] pauledavey opened #287 "WSDL file import - no ports generated"
I have imported and executed the docker image
docker pull castlemock/castlemock
docker run -d -p 8080:8080 castlemock/castlemock
Created new project called Test, select type as SOAP
Import WSDL files from local source (zip attached to this post) - selected all files and subfolder
Import states successful, but there are no ports created

**Expected behavior**
See ports and be able to make calls
**D

[2020-10-20 11:12] hrbu commented on #281
@karldahlgren ... using `v1.5.1` didn't fix my issue. But I can work around it by changing the identify strategy in the SOAP operation setting page from "element and namespace" to just "element" (you recommended this in https://github.com/castlemock/castlemock/issues/87#issuecomment-436424189). That's fine for me. Closing this.

[2020-10-20 11:12] #281 closed

[2020-10-20 15:05] giddyhut opened #288 "Option to Forward to 'live' endpoint if no matches for mock response"
There are options to either "Forward" a request to a backing endpoint in SOAP/REST or "Mock" the response back to caller.

Can there be another option to "Forward if no mock matches"?

E.g. I use XPath to match incoming request and return back particular mock responses.

There's a "Default response" option now but this is just to return another mock response.

[2020-10-20 21:53] wilgares opened #289 "XPath expression with CData"
**Describe the bug**
Hello,

i have a input XML with CDATA :

`<executionInfo><![CDATA[
	<?xml version="1.0" encoding="UTF-8"?>
	<Parameters>
		<client>
			<type />
			<userName>Julio</userName>
			<state>aprobado</state>
			<session>0</session>
		</client>
	</Parameters>]]>
</executionInfo>`

I want to write the xpath expression to validate the userName input
How the right syntax should be?

Than

[2020-11-13 10:36] ReyyanArik commented on #266
Hi @karldahlgren ,
Are there any updates about the upcoming release date?
Could you please inform me if the date is certain.
Best

[2020-11-18 15:47] pdesgarets commented on #100
Hi @mhewedy ,
Any update on this ?

IMO yes we can consider port-uri as unique. Having multiple ports in one project is useful to have one base server and multiple custom URIs (one per port). If you can't choose the URI and it is generated using the port ID, then I see no advantage in using one project with multiple ports rather than multiple projects.